# Import libraries and data

In [1]:
import numpy as np
import math
import pandas as pd
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
import sys
sys.path.insert(0, '/Users/dpagniez/Desktop/Functions')

from My_functions_EDA import *

In [3]:
data = pd.read_csv('/Users/dpagniez/Desktop/DS_bootcamp/FINAL PROJECT/ES_Final project questionnaire .csv')

In [4]:
test = data.copy()

In [5]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Columns: 103 entries, Marca temporal to Una vez realizada la investigación, si deseas recibir una copia de la presentación con las conclusiones, introduce tu mail aquí:
dtypes: float64(3), object(100)
memory usage: 349.4+ KB

In [6]:
test.columns

Index(['Marca temporal', '¿Deseas participar?', '¿Cuántos años tienes?',
       '¿Cuál es tu país de nacimiento?',
       '¿Cuál es tu país de residencia actual? ',
       'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Me siento una persona tan valiosa como las otras]',
       'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Generalmente me inclino a pensar que soy un fracaso]',
       'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Creo que tengo algunas cualidades buenas]',
       'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Soy capaz de hacer las cosas tan bien como los demás]',
       'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Creo que no tengo mucho de lo que estar orgullosa]',
       ...
       '¿Alguna vez te han mandado material pornográfico sin haberlo solicitado por una red social?',
       '¿Cuál era el sexo de la/s persona/s que te enviaron este material?',
       '¿Alguna vez te han pedido fotos pornográficas, de genitales o desnudos por una red social?',
       '¿Cuál era el sexo de la persona que te pidió este material?',
       '¿Crees que algo del contenido que ves por TikTok o Instagram se parece a la pornografía?',
       '¿Crees que algunas mujeres intentan imitar lo que ven en la pornografía a la hora de subir fotos o vídeos a estas redes sociales?',
       '¿Crees que la pornografía influye en lo que se comparte en redes sociales?',
       '¿Crees que lo que se comparte en redes sociales distorsiona la realidad?',
       '¿Crees que lo que consumes en las redes sociales afecta tu autoestima?',
       'Una vez realizada la investigación, si deseas recibir una copia de la presentación con las conclusiones, introduce tu mail aquí: '],
      dtype='object', length=103)

In [7]:
test.head(10)

,Marca temporal,¿Deseas participar?,¿Cuántos años tienes?,¿Cuál es tu país de nacimiento?,¿Cuál es tu país de residencia actual?,Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Me siento una persona tan valiosa como las otras],Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Generalmente me inclino a pensar que soy un fracaso],Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Creo que tengo algunas cualidades buenas],Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Soy capaz de hacer las cosas tan bien como los demás],Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Creo que no tengo mucho de lo que estar orgullosa],...,¿Alguna vez te han mandado material pornográfico sin haberlo solicitado por una red social?,¿Cuál era el sexo de la/s persona/s que te enviaron este material?,"¿Alguna vez te han pedido fotos pornográficas, de genitales o desnudos por una red social?",¿Cuál era el sexo de la persona que te pidió este material?,¿Crees que algo del contenido que ves por TikTok o Instagram se parece a la pornografía?,¿Crees que algunas mujeres intentan imitar lo que ven en la pornografía a la hora de subir fotos o vídeos a estas redes sociales?,¿Crees que la pornografía influye en lo que se comparte en redes sociales?,¿Crees que lo que se comparte en redes sociales distorsiona la realidad?,¿Crees que lo que consumes en las redes sociales afecta tu autoestima?,"Una vez realizada la investigación, si deseas recibir una copia de la presentación con las conclusiones, introduce tu mail aquí:"
0,2021/03/25 7:25:11 p. m. EET,Aceptar,30,España,España,De acuerdo,En desacuerdo,Muy de acuerdo,Muy de acuerdo,En desacuerdo,...,Sí,Hombre,Sí,Hombre,Sí,Sí,Sí,Sí,Sí,apaniaguavilloria@gmail.com
1,2021/03/25 11:18:02 p. m. EET,Aceptar,cxz,sdc,dcs,Muy en desacuerdo,Muy en desacuerdo,Muy en desacuerdo,Muy en desacuerdo,Muy en desacuerdo,...,No,Hombre,NaN,NaN,No tengo dichas redes sociales,NaN,NaN,NaN,NaN,NaN
2,2021/03/26 12:02:08 a. m. EET,Aceptar,25,España,España,De acuerdo,En desacuerdo,Muy de acuerdo,Muy de acuerdo,En desacuerdo,...,Sí,Hombre,Sí,Hombre,Sí,Sí,Sí,Sí,Sí,NaN
3,2021/03/26 12:11:49 a. m. EET,Aceptar,30,España,España,Muy en desacuerdo,Muy de acuerdo,De acuerdo,En desacuerdo,De acuerdo,...,Sí,Hombre,Sí,Hombre,Sí,Sí,Sí,Sí,Sí,NaN
4,2021/03/26 12:15:23 a. m. EET,Aceptar,29,España,España,En desacuerdo,En desacuerdo,Muy en desacuerdo,Muy en desacuerdo,En desacuerdo,...,Sí,Hombre,Sí,Hombre,No tengo dichas redes sociales,Sí,Sí,Sí,Sí,NaN
5,2021/03/26 12:16:33 a. m. EET,Aceptar,46,España,España,De acuerdo,En desacuerdo,Muy de acuerdo,Muy de acuerdo,En desacuerdo,...,No,NaN,No,NaN,Sí,Sí,Sí,Sí,Sí,NaN
6,2021/03/26 12:20:53 a. m. EET,Aceptar,35,España,España,De acuerdo,En desacuerdo,De acuerdo,De acuerdo,En desacuerdo,...,No,NaN,Sí,Hombre;Mujer,Sí,Sí,Sí,Sí,Sí,dolma.mlc@gmail.com
7,2021/03/26 12:22:23 a. m. EET,Aceptar,25,España,España,Muy de acuerdo,De acuerdo,Muy de acuerdo,Muy de acuerdo,De acuerdo,...,Sí,Hombre,Sí,Hombre,No,Sí,Sí,Sí,Sí,cloestein@outlook.com
8,2021/03/26 12:24:59 a. m. EET,Aceptar,21,España,España,Muy de acuerdo,De acuerdo,En desacuerdo,Muy de acuerdo,En desacuerdo,...,No,NaN,Sí,Hombre,Sí,Sí,Sí,Sí,Sí,NaN
9,2021/03/26 12:43:02 a. m. EET,Aceptar,30,España,España,Muy de acuerdo,En desacuerdo,De acuerdo,En desacuerdo,De acuerdo,...,Sí,Hombre,Sí,Hombre,Sí,Sí,Sí,Sí,Sí,NaN

In [8]:

test= test.reset_index()
test=test.rename(columns={'index': 'Id'})

In [9]:
test.head()

,Id,Marca temporal,¿Deseas participar?,¿Cuántos años tienes?,¿Cuál es tu país de nacimiento?,¿Cuál es tu país de residencia actual?,Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Me siento una persona tan valiosa como las otras],Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Generalmente me inclino a pensar que soy un fracaso],Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Creo que tengo algunas cualidades buenas],Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Soy capaz de hacer las cosas tan bien como los demás],...,¿Alguna vez te han mandado material pornográfico sin haberlo solicitado por una red social?,¿Cuál era el sexo de la/s persona/s que te enviaron este material?,"¿Alguna vez te han pedido fotos pornográficas, de genitales o desnudos por una red social?",¿Cuál era el sexo de la persona que te pidió este material?,¿Crees que algo del contenido que ves por TikTok o Instagram se parece a la pornografía?,¿Crees que algunas mujeres intentan imitar lo que ven en la pornografía a la hora de subir fotos o vídeos a estas redes sociales?,¿Crees que la pornografía influye en lo que se comparte en redes sociales?,¿Crees que lo que se comparte en redes sociales distorsiona la realidad?,¿Crees que lo que consumes en las redes sociales afecta tu autoestima?,"Una vez realizada la investigación, si deseas recibir una copia de la presentación con las conclusiones, introduce tu mail aquí:"
0,0,2021/03/25 7:25:11 p. m. EET,Aceptar,30,España,España,De acuerdo,En desacuerdo,Muy de acuerdo,Muy de acuerdo,...,Sí,Hombre,Sí,Hombre,Sí,Sí,Sí,Sí,Sí,apaniaguavilloria@gmail.com
1,1,2021/03/25 11:18:02 p. m. EET,Aceptar,cxz,sdc,dcs,Muy en desacuerdo,Muy en desacuerdo,Muy en desacuerdo,Muy en desacuerdo,...,No,Hombre,NaN,NaN,No tengo dichas redes sociales,NaN,NaN,NaN,NaN,NaN
2,2,2021/03/26 12:02:08 a. m. EET,Aceptar,25,España,España,De acuerdo,En desacuerdo,Muy de acuerdo,Muy de acuerdo,...,Sí,Hombre,Sí,Hombre,Sí,Sí,Sí,Sí,Sí,NaN
3,3,2021/03/26 12:11:49 a. m. EET,Aceptar,30,España,España,Muy en desacuerdo,Muy de acuerdo,De acuerdo,En desacuerdo,...,Sí,Hombre,Sí,Hombre,Sí,Sí,Sí,Sí,Sí,NaN
4,4,2021/03/26 12:15:23 a. m. EET,Aceptar,29,España,España,En desacuerdo,En desacuerdo,Muy en desacuerdo,Muy en desacuerdo,...,Sí,Hombre,Sí,Hombre,No tengo dichas redes sociales,Sí,Sí,Sí,Sí,NaN

# Meet the data - keys information



- `basic_info`: Dataset who contains the temporal mark, country borned, country of residence and age of the volunteers
    
- `selfsteem`: Dataset who contains the temporal mark and the questions of the rosenberg questionare and the final puntuation of the volunteers
    
- `body_bsq`: Dataset who contains the temporal mark, the questions of the reduced version of the body shape questionnare and the final puntuations of the volunteers
    
- `body_figures`: Dataset who contains the temporal mark, the questions and the results of the Collin's image analysis of the volunteers
    
- `body_acceptance`: Dataset who contains the temporal mark, the questions and the results of the acceptance of the different parts of the body of the volunteers

- `social_pression`: Dataset who contains the temporal mark, and some questions considering the social feedback that the volunteers recieve for her esthetic habits
    
- `body_opinion`: Dataset who contains the temporal mark, and the free reflection about their bodys that some of the volunteers did 
    
- `instagram`: Dataset who contains the temporal mark, and all the information regarding instagram 
    
- `tiktok`: Dataset who contains the temporal mark, and all the information regarding Tik-Tok

In [10]:
basic_info = test.iloc[:,0:6]

In [11]:
basic_info.head()

,Id,Marca temporal,¿Deseas participar?,¿Cuántos años tienes?,¿Cuál es tu país de nacimiento?,¿Cuál es tu país de residencia actual?
0,0,2021/03/25 7:25:11 p. m. EET,Aceptar,30,España,España
1,1,2021/03/25 11:18:02 p. m. EET,Aceptar,cxz,sdc,dcs
2,2,2021/03/26 12:02:08 a. m. EET,Aceptar,25,España,España
3,3,2021/03/26 12:11:49 a. m. EET,Aceptar,30,España,España
4,4,2021/03/26 12:15:23 a. m. EET,Aceptar,29,España,España

- BASIC INFO

In [12]:
basic_info['mail']=test['Una vez realizada la investigación, si deseas recibir una copia de la presentación con las conclusiones, introduce tu mail aquí: ']

In [13]:
basic_info.head()

,Id,Marca temporal,¿Deseas participar?,¿Cuántos años tienes?,¿Cuál es tu país de nacimiento?,¿Cuál es tu país de residencia actual?,mail
0,0,2021/03/25 7:25:11 p. m. EET,Aceptar,30,España,España,apaniaguavilloria@gmail.com
1,1,2021/03/25 11:18:02 p. m. EET,Aceptar,cxz,sdc,dcs,NaN
2,2,2021/03/26 12:02:08 a. m. EET,Aceptar,25,España,España,NaN
3,3,2021/03/26 12:11:49 a. m. EET,Aceptar,30,España,España,NaN
4,4,2021/03/26 12:15:23 a. m. EET,Aceptar,29,España,España,NaN

- SELFSTEEM

In [14]:
selfsteem = test.iloc[:,6:16]

In [15]:
selfsteem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 10 columns):
 #   Column                                                                                                                                                  Non-Null Count  Dtype
---  ------                                                                                                                                                  --------------  -----
 0   Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Me siento una persona tan valiosa como las otras]      429 non-null    object
 1   Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Generalmente me inclino a pensar que soy un fracaso]   430 non-null    object
 2   Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Creo que tengo algunas cualidades buenas]              427 non-null    object
 3   Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Soy capaz de hacer las cosas tan bien como los demás]  429 non-null    object
 4   Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Creo que no tengo mucho de lo que estar orgullosa]     428 non-null    object
 5   Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Tengo una actitud positiva hacia mi misma]             427 non-null    object
 6   Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [En general me siento satisfecha conmigo misma]         430 non-null    object
 7   Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Me gustaría tener más respeto por mi misma]            430 non-null    object
 8   Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Realmente me siento inútil en algunas situaciones]     430 non-null    object
 9   Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [A veces pienso que no sirvo para nada]                 430 non-null    object
dtypes: object(10)
memory usage: 34.0+ KB

- BODY BSQ

In [161]:
body_bsq = test.iloc[:,16:23]

In [162]:
body_bsq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 7 columns):
 #   Column                                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                                 --------------  -----
 0   Considerando los últimos tres meses:  [¿ Te ha preocupado que otra gente vea michelines/rollitos alrededor de tu cintura o estómago?]  432 non-null    object
 1   Considerando los últimos tres meses:  [Verte reflejada/o en un espejo o en un escaparate, ¿te ha hecho sentirte mal por tu figura?]    432 non-null    object
 2   Considerando los últimos tres meses:  [¿Te ha preocupado que tus muslos se ensanchen cuando te sientas ?]                              433 non-null    object
 3   Considerando los últimos tres meses:  [¿Te has sentido acomplejado/a por tu cuerpo?]                                                   433 non-null    object
 4   Considerando los últimos tres meses:  [¿Te has pellizcado zonas de tu cuerpo para ver cuánta grasa tenías?]                            433 non-null    object
 5   Considerando los últimos tres meses:  [¿ Has evitado llevar ropa que marque tu figura ?]                                               432 non-null    object
 6   Considerando los últimos tres meses:  [¿Te ha preocupado que tu carne tenga aspecto de piel de naranja (celulitis)?]                   433 non-null    object
dtypes: object(7)
memory usage: 23.9+ KB

- BODY FIGURES

In [18]:
body_figures = test.iloc[:,23:26]

In [19]:
body_figures = body_figures.reset_index()
body_figures = body_figures.rename(columns={'index': 'Id'})

In [20]:
body_figures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 4 columns):
 #   Column                                                                                             Non-Null Count  Dtype
---  ------                                                                                             --------------  -----
 0   Id                                                                                                 434 non-null    int64
 1   Observa las siguientes figuras:  [¿Cuál se parece más a tu cuerpo actualmente?]                    433 non-null    float64
 2   Observa las siguientes figuras:  [¿Cuál se parece más al cuerpo que desearías tener?]              431 non-null    float64
 3   Observa las siguientes figuras:  [¿Cuál crees que es la más atractiva para el sexo que te atrae?]  418 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 13.7 KB

- BODY ACCEPTANCE

In [21]:
body_acceptance = test.iloc[:,26:37]

In [22]:
body_acceptance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 11 columns):
 #   Column                                                                             Non-Null Count  Dtype
---  ------                                                                             --------------  -----
 0   ¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Cara]             432 non-null    object
 1   ¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Espalda/hombros]  412 non-null    object
 2   ¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Brazos]           411 non-null    object
 3   ¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Pechos]           432 non-null    object
 4   ¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Estómago]         430 non-null    object
 5   ¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Nalgas]           433 non-null    object
 6   ¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Cadera]           432 non-null    object
 7   ¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Cintura]          431 non-null    object
 8   ¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Piernas]          430 non-null    object
 9   ¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Muslos]           432 non-null    object
 10  ¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Pantorrillas]     433 non-null    object
dtypes: object(11)
memory usage: 37.4+ KB

- SOCIAL PRESSION

In [23]:
social_pression = test.iloc[:,37:43]

In [24]:
social_pression = social_pression.reset_index()
social_pression = social_pression.rename(columns={'index': 'Id'})

In [25]:
social_pression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 7 columns):
 #   Column                                                                                                          Non-Null Count  Dtype
---  ------                                                                                                          --------------  -----
 0   Id                                                                                                              434 non-null    int64
 1   Considerando los últimos tres meses:  [¿Te has sentido observada y/o juzgada por no ir maquillada?]             433 non-null    object
 2   Considerando los últimos tres meses:  [¿Esto te ha hecho sentir mal?]                                           421 non-null    object
 3   Considerando los últimos tres meses:  [¿Te has sentido observada y/o juzgada por no ir depilada?]               430 non-null    object
 4   Considerando los últimos tres meses:  [¿Esto te ha hecho sentir mal? ]                                          427 non-null    object
 5   Considerando los últimos tres meses:  [¿Te has sentido observada y/o juzgada por no llevar el pelo arreglado?]  431 non-null    object
 6   Considerando los últimos tres meses:  [¿Esto te ha hecho sentir mal?  ]                                         427 non-null    object
dtypes: int64(1), object(6)
memory usage: 23.9+ KB

- BODY MODIF

In [26]:
body_modif = test.iloc[:,43:51]

In [27]:
body_modif = body_modif.reset_index()
body_modif = body_modif.rename(columns={'index': 'Id'})

In [28]:
body_modif.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 9 columns):
 #   Column                                                                                                                           Non-Null Count  Dtype
---  ------                                                                                                                           --------------  -----
 0   Id                                                                                                                               434 non-null    int64
 1   ¿Has utilizado alguno de los siguientes métodos controlar o modificar tu apariencia física? [Ejercicio]                          433 non-null    object
 2   ¿Has utilizado alguno de los siguientes métodos controlar o modificar tu apariencia física? [Ayuno intermitente]                 429 non-null    object
 3   ¿Has utilizado alguno de los siguientes métodos controlar o modificar tu apariencia física? [Dieta]                              428 non-null    object
 4   ¿Has utilizado alguno de los siguientes métodos controlar o modificar tu apariencia física? [Laxantes y/o Diureticos]            426 non-null    object
 5   ¿Has utilizado alguno de los siguientes métodos controlar o modificar tu apariencia física? [Restricción de ingesta calorica]    431 non-null    object
 6   ¿Has utilizado alguno de los siguientes métodos controlar o modificar tu apariencia física? [Vómito auto-inducido]               426 non-null    object
 7   ¿Has utilizado alguno de los siguientes métodos controlar o modificar tu apariencia física? [Tratamientos estéticos reductores]  428 non-null    object
 8   ¿Has utilizado alguno de los siguientes métodos controlar o modificar tu apariencia física? [Cirugía estética]                   427 non-null    object
dtypes: int64(1), object(8)
memory usage: 30.6+ KB

- BODY OPINION

In [29]:
body_opinion = test.iloc[:,51:52]

In [30]:
body_opinion = body_opinion.reset_index()
body_opinion = body_opinion.rename(columns={'index': 'Id'})

In [31]:
body_opinion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 2 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Id                                                                      434 non-null    int64
 1   Haz una breve reflexión libre acerca de como te sientes con tu cuerpo.  341 non-null    object
dtypes: int64(1), object(1)
memory usage: 6.9+ KB

- INSTAGRAM

In [405]:
instagram = test.iloc[:,52:66]

In [406]:
instagram = instagram.reset_index()
instagram = instagram.rename(columns={'index': 'Id'})

In [407]:
instagram.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 15 columns):
 #   Column                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                --------------  -----
 0   Id                                                                                                                    434 non-null    int64
 1   ¿Tienes Instagram?                                                                                                    433 non-null    object
 2   ¿A qué edad te hiciste el perfil en Instagram?                                                                        414 non-null    object
 3   ¿Cuántas horas al día crees que pasas en la aplicación?                                                               420 non-null    object
 4   ¿Cuántas veces al día dirías que entras a la aplicación por aburrimiento?                                             418 non-null    object
 5   ¿Cuántas veces al día estas mirando el teléfono por alguna otra razón y terminas entrando en Instagram?               416 non-null    object
 6   ¿Cada vez que entras a Instagram, cuánto tiempo dirías en promedio que permaneces en la aplicación?                   420 non-null    object
 7   Semanalmente: [¿Cuántas fotografías subes?]                                                                           419 non-null    object
 8   Semanalmente: [¿En cuántas de ellas apareces?]                                                                        413 non-null    object
 9   Semanalmente: [De las que apareces, ¿Cuántas llevan algún filtro? ]                                                   394 non-null    object
 10  Semanalmente: [¿Cuántas historias subes?]                                                                             418 non-null    object
 11  Semanalmente: [¿En cuántas de ellas apareces? ]                                                                       418 non-null    object
 12  Semanalmente: [De las que apareces, ¿Cuántas llevan algún filtro?]                                                    396 non-null    object
 13  Semanalmente: [¿Cuántas veces repites una foto o historia en la que apareces porque no te gusta como sales en ella?]  414 non-null    object
 14  Semanalmente: [¿Cuántas veces desistes de subir contenido en el que apareces porque no te gusta como sales?]          417 non-null    object
dtypes: int64(1), object(14)
memory usage: 51.0+ KB

- TIKTOK

In [511]:
tiktok = test.iloc[:,66:76]

In [512]:
tiktok = tiktok.reset_index()
tiktok = tiktok.rename(columns={'index': 'Id'})

In [513]:
tiktok.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 11 columns):
 #   Column                                                                                                          Non-Null Count  Dtype
---  ------                                                                                                          --------------  -----
 0   Id                                                                                                              434 non-null    int64
 1   ¿Tienes Tik-Tok?                                                                                                433 non-null    object
 2   ¿A qué edad te hiciste el perfil en Tik-Tok?                                                                    122 non-null    object
 3   ¿Cuántas horas al día crees que pasas en Tik-Tok?                                                               122 non-null    object
 4   ¿Cuántas veces al día dirías que entras por aburrimiento?                                                       112 non-null    object
 5   ¿Cuántas veces al día estas mirando el teléfono por alguna otra razón y terminas entrando a Tik-Tok?            112 non-null    object
 6   ¿Cada vez que entras a Tik-Tok, cuánto tiempo dirías en promedio que en la aplicación?                          122 non-null    object
 7   Semanalmente... [¿Cuántos videos en los que apareces subes?]                                                    113 non-null    object
 8   Semanalmente... [¿Cuántos de ellos llevan filtros?]                                                             101 non-null    object
 9   Semanalmente... [¿Cuántas veces repites un video en el que apareces porque no te gusta como sales en ella?]     106 non-null    object
 10  Semanalmente... [¿Cuántas veces desistes de subir contenido en el que apareces porque no te gusta como sales?]  109 non-null    object
dtypes: int64(1), object(10)
memory usage: 37.4+ KB

- CONTENT

In [38]:
content = test.iloc[:,76:83]

In [39]:
content = content.reset_index()
content = content.rename(columns={'index': 'Id'})

In [40]:
content.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 8 columns):
 #   Column                                                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                                                       --------------  -----
 0   Id                                                                                                                                           434 non-null    int64
 1   ¿Que clase de cuentas sigues en Instagram?                                                                                                   291 non-null    object
 2   ¿Dirías que sigues mas cuentas de hombres o de mujeres?                                                                                      288 non-null    object
 3   Considerando el contenido que publicas: [¿Con qué frecuencia dirías que utilizas filtros?]                                                   288 non-null    object
 4   Considerando el contenido que publicas: [¿Con qué frecuencia dirías que editas dicho contenido antes de subirlo?]                            287 non-null    object
 5   Considerando el contenido que publicas: [¿Contemplas los “me gusta” que recibes en lo que subes como referencia para adaptar tu contenido?]  286 non-null    object
 6   Considerando el contenido que publicas: [Antes de hacer la foto/video ¿Tienes en mente cómo crees que debes salir?]                          290 non-null    object
 7   Considerando el contenido que publicas: [¿Adoptas determinadas posturas antes de hacerte una foto/vídeo?]                                    289 non-null    object
dtypes: int64(1), object(7)
memory usage: 27.2+ KB

In [41]:
content = content.append(test.iloc[:,85:89])

In [42]:
content.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 868 entries, 0 to 433
Data columns (total 12 columns):
 #   Column                                                                                                                                                                     Non-Null Count  Dtype
---  ------                                                                                                                                                                     --------------  -----
 0   Id                                                                                                                                                                         434 non-null    float64
 1   ¿Que clase de cuentas sigues en Instagram?                                                                                                                                 291 non-null    object
 2   ¿Dirías que sigues mas cuentas de hombres o de mujeres?                                                                                                                    288 non-null    object
 3   Considerando el contenido que publicas: [¿Con qué frecuencia dirías que utilizas filtros?]                                                                                 288 non-null    object
 4   Considerando el contenido que publicas: [¿Con qué frecuencia dirías que editas dicho contenido antes de subirlo?]                                                          287 non-null    object
 5   Considerando el contenido que publicas: [¿Contemplas los “me gusta” que recibes en lo que subes como referencia para adaptar tu contenido?]                                286 non-null    object
 6   Considerando el contenido que publicas: [Antes de hacer la foto/video ¿Tienes en mente cómo crees que debes salir?]                                                        290 non-null    object
 7   Considerando el contenido que publicas: [¿Adoptas determinadas posturas antes de hacerte una foto/vídeo?]                                                                  289 non-null    object
 8   ¿Crees que compartes contenido diferente en función de si el público que va a verlo es masculino o femenino?                                                               281 non-null    object
 9   En función de los likes que recibes ¿Crees que tu contenido es mas consumido por hombres o por mujeres?                                                                    259 non-null    object
 10  Considerando el contenido que compartes:  [¿Hay alguna parte de tu cuerpo que intentas evitar o esconder mediante posturas, filtros o ángulos de la foto/video? ¿Cuáles?]  274 non-null    object
 11  Considerando el contenido que compartes:  [¿Hay alguna parte de tu cuerpo en la que enfatices mediante posturas, filtros o ángulos de la foto/video? ¿Cuáles]              270 non-null    object
dtypes: float64(1), object(11)
memory usage: 88.2+ KB

- LOT LIKES

In [43]:
lot_likes = test.iloc[:,83:84]

In [44]:
lot_likes = lot_likes.reset_index()
lot_likes = lot_likes.rename(columns={'index': 'Id'})

In [45]:
lot_likes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 2 columns):
 #   Column                                                         Non-Null Count  Dtype
---  ------                                                         --------------  -----
 0   Id                                                             434 non-null    int64
 1   ¿Qué emociones te genera recibir muchos me gusta/comentarios?  250 non-null    object
dtypes: int64(1), object(1)
memory usage: 6.9+ KB

- MANY LIKES

In [46]:
many_likes = test.iloc[:,84:85]

In [47]:
many_likes = many_likes.reset_index()
many_likes = many_likes.rename(columns={'index': 'Id'})

In [48]:
many_likes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 2 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Id                                                            434 non-null    int64
 1   ¿Qué emociones te genera recibir pocos me gusta/comentarios?  248 non-null    object
dtypes: int64(1), object(1)
memory usage: 6.9+ KB

- PORNO

In [49]:
porno = test.iloc[:,89:98]

In [50]:
porno = porno.reset_index()
porno = porno.rename(columns={'index': 'Id'})

In [51]:
porno.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 10 columns):
 #   Column                                                                                       Non-Null Count  Dtype
---  ------                                                                                       --------------  -----
 0   Id                                                                                           434 non-null    int64
 1   ¿A qué edad viste pornografía por primera vez?                                               417 non-null    object
 2   ¿Fue de manera intencionada o no intencionada?                                               412 non-null    object
 3   Actualmente, ¿Consumes pornografía?                                                          428 non-null    object
 4   ¿Con qué frecuencia?                                                                         79 non-null     object
 5   ¿Qué tipo/categoría de pornografía consumes?                                                 58 non-null     object
 6   ¿Alguna vez te han mandado material pornográfico sin haberlo solicitado por una red social?  431 non-null    object
 7   ¿Cuál era el sexo de la/s persona/s que te enviaron este material?                           290 non-null    object
 8   ¿Alguna vez te han pedido fotos pornográficas, de genitales o desnudos por una red social?   427 non-null    object
 9   ¿Cuál era el sexo de la persona que te pidió este material?                                  279 non-null    object
dtypes: int64(1), object(9)
memory usage: 34.0+ KB

- OPINION

In [52]:
opinion = test.iloc[:,98:103]

In [53]:
opinion = opinion.reset_index()
opinion = opinion.rename(columns={'index': 'Id'})

In [54]:
opinion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 6 columns):
 #   Column                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                             --------------  -----
 0   Id                                                                                                                                 434 non-null    int64
 1   ¿Crees que algo del contenido que ves por TikTok o Instagram se parece a la pornografía?                                           425 non-null    object
 2   ¿Crees que algunas mujeres intentan imitar lo que ven en la pornografía a la hora de subir fotos o vídeos a estas redes sociales?  428 non-null    object
 3   ¿Crees que la pornografía influye en lo que se comparte en redes sociales?                                                         427 non-null    object
 4   ¿Crees que lo que se comparte en redes sociales distorsiona la realidad?                                                           428 non-null    object
 5   ¿Crees que lo que consumes en las redes sociales afecta tu autoestima?                                                             427 non-null    object
dtypes: int64(1), object(5)
memory usage: 20.5+ KB

# Basic_info

## EDA and Data Cleaning

### a) Check missing values:

In [55]:
basic_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 7 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Id                                       434 non-null    int64
 1   Marca temporal                           434 non-null    object
 2   ¿Deseas participar?                      434 non-null    object
 3   ¿Cuántos años tienes?                    433 non-null    object
 4   ¿Cuál es tu país de nacimiento?          433 non-null    object
 5   ¿Cuál es tu país de residencia actual?   433 non-null    object
 6   mail                                     285 non-null    object
dtypes: int64(1), object(6)
memory usage: 23.9+ KB

In [56]:
basic_info.rename(columns={'Id': 'Id', 
                           'Marca temporal': 'hora_rta',
                            '¿Deseas participar?':'consentimiento',
                            '¿Cuántos años tienes?':'edad',
                            '¿Cuál es tu país de nacimiento?':'pais_origen',
                            '¿Cuál es tu país de residencia actual? ':'pais_residencia',
                            'mail':'mail'
                            
                           }, inplace=True)

In [57]:
basic_info.isnull().sum()

Id                   0
hora_rta             0
consentimiento       0
edad                 1
pais_origen          1
pais_residencia      1
mail               149
dtype: int64

#### Consentimiento

In [58]:
basic_info.consentimiento.value_counts()

Aceptar     433
Rechazar      1
Name: consentimiento, dtype: int64

In [59]:
basic_info = basic_info[basic_info.consentimiento == 'Aceptar']

In [60]:
basic_info.isnull().sum()

Id                   0
hora_rta             0
consentimiento       0
edad                 0
pais_origen          0
pais_residencia      0
mail               148
dtype: int64

### c) Dealing with numerical variables

#### Edad

In [61]:
basic_info.edad.unique()

array(['30', 'cxz', '25', '29', '46', '35', '21', '28', '27', '31', '23',
       '22', '19', '37', '33', '40', '39', '44', '24', '26', '42', '34',
       '47', '18', '20', '41', '51', '67', '15', '32', '14', '38',
       'dieciséis', '36', '48', '16', '17', '13', '45', '53', 'España',
       '43', '54', '50', '63', '68', '66', '49'], dtype=object)

In [62]:
basic_info.edad.replace('dieciséis',16,inplace=True)

In [63]:
to_drop = basic_info[(basic_info.edad=='cxz')|(basic_info.edad=='España')]
to_drop

,Id,hora_rta,consentimiento,edad,pais_origen,pais_residencia,mail
1,1,2021/03/25 11:18:02 p. m. EET,Aceptar,cxz,sdc,dcs,NaN
234,234,2021/03/27 12:28:25 a. m. EET,Aceptar,España,España,España,delantal@gmail.com

In [64]:
basic_info = basic_info.drop(basic_info.Id[1])

In [65]:
basic_info = basic_info.drop(basic_info.Id[234])

In [66]:
basic_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 431 entries, 0 to 433
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               431 non-null    int64
 1   hora_rta         431 non-null    object
 2   consentimiento   431 non-null    object
 3   edad             431 non-null    object
 4   pais_origen      431 non-null    object
 5   pais_residencia  431 non-null    object
 6   mail             284 non-null    object
dtypes: int64(1), object(6)
memory usage: 26.9+ KB

In [67]:
basic_info.edad = basic_info.edad.astype('int')

In [68]:
basic_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 431 entries, 0 to 433
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               431 non-null    int64
 1   hora_rta         431 non-null    object
 2   consentimiento   431 non-null    object
 3   edad             431 non-null    int64
 4   pais_origen      431 non-null    object
 5   pais_residencia  431 non-null    object
 6   mail             284 non-null    object
dtypes: int64(2), object(5)
memory usage: 26.9+ KB

#### hora_rta

In [69]:
basic_info.hora_rta=pd.to_datetime(basic_info.hora_rta)

In [70]:
basic_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 431 entries, 0 to 433
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               431 non-null    int64
 1   hora_rta         431 non-null    datetime64[ns]
 2   consentimiento   431 non-null    object
 3   edad             431 non-null    int64
 4   pais_origen      431 non-null    object
 5   pais_residencia  431 non-null    object
 6   mail             284 non-null    object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 26.9+ KB

### b) Dealing with categorical variables

#### país_origen

In [71]:
basic_info.pais_origen.unique()

array(['España', 'España ', 'Argentina', 'Brasil', 'Brasil ',
       '21/04/1980', 'Rumanía', 'Italia', 'Colombia', 'Polonia',
       'Bulgaria', 'Irlanda', 'Luxembourg', 'Luxemburgo', 'Rumania ',
       'España.', 'Bolivia ', 'ESPAÑA', 'argentina', 'Chile', 'Venezuela',
       'Spain', 'República Dominicana ', 'México ', 'México', 'españa',
       'Guatemala', 'Portugal', 'Argentina ', 'Inglaterra', 'Perú',
       'Francia', 'Jordania', 'Bolivia', 'Espanya', 'Mexico', 'Uruguay ',
       'Rumanía ', 'Mexico ', 'Colombia ', 'Sevilla ', 'Filipinas',
       'Catalunya', 'Perú ', 'Espana', 'colombia', 'ecuador',
       'España. Origen japones. ', 'Espanha', 'Espala'], dtype=object)

In [72]:
replace_map = {'España ':'España', 'Brasil ':'Brasil',
               'Luxembourg':'Luxemburgo','Rumania ':'Rumania',
              'Rumanía':'Rumania','España.':'España',
              'Bolivia ':'Bolivia','ESPAÑA':'España',
              'argentina':'Argentina','Spain':'España',
              'República Dominicana ':'República Dominicana',
              'México ':'México','españa':'España',
              'Argentina ':'Argentina','Espanya':'España',
              'Mexico':'México','Rumanía ':'Rumania',
              'Mexico ':'México','Colombia ':'Colombia',
              'Sevilla ':'España','Catalunya':'España',
              'Perú ':'Perú','Espana':'España',
              'colombia':'Colombia','ecuador':'Ecuador',
              'España. Origen japones. ':'España',
              'Espanha':'España','Espala':'España'}

In [73]:
basic_info.pais_origen.replace(replace_map, inplace=True)

In [74]:
basic_info.pais_origen.value_counts()

España                  317
Argentina                50
México                   12
Brasil                    9
Venezuela                 6
Colombia                  5
Chile                     5
Perú                      4
Bolivia                   3
Rumania                   3
Luxemburgo                2
Uruguay                   2
21/04/1980                1
República Dominicana      1
Italia                    1
Irlanda                   1
Ecuador                   1
Inglaterra                1
Portugal                  1
Guatemala                 1
Francia                   1
Filipinas                 1
Bulgaria                  1
Jordania                  1
Polonia                   1
Name: pais_origen, dtype: int64

In [75]:
to_drop = basic_info[(basic_info.pais_origen=='21/04/1980')]

In [76]:
to_drop

,Id,hora_rta,consentimiento,edad,pais_origen,pais_residencia,mail
31,31,2021-03-26 03:21:11,Aceptar,40,21/04/1980,Brasil,lulubonfim1917@gmail.com

In [77]:
basic_info = basic_info.drop(basic_info.Id[31])

In [78]:
basic_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 430 entries, 0 to 433
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               430 non-null    int64
 1   hora_rta         430 non-null    datetime64[ns]
 2   consentimiento   430 non-null    object
 3   edad             430 non-null    int64
 4   pais_origen      430 non-null    object
 5   pais_residencia  430 non-null    object
 6   mail             283 non-null    object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 26.9+ KB

#### país_residencia

In [79]:
basic_info.pais_residencia.unique()

array(['España', 'España ', 'Argentina', 'Brasil', 'Brasil ', 'Bélgica',
       'UK', 'China', 'Argentina.', 'Bolivia ', 'Portugal', 'argentina',
       'Eapaña', 'Chile', 'Espana', 'Spain', 'República Dominicana ',
       'México ', 'México', 'españa', 'Argentina ', 'Portugal ',
       'Espanya', 'Uruguay ', 'Inglaterra ', 'Colombia', 'Países Bajos ',
       'Lituania ', 'Mexico ', 'Colombia ', 'Cataluña, España.',
       'Barcelona', 'Alemania', 'España hay', 'Inglaterra', 'València',
       'Catalunya', 'Francia', 'Perú ', 'colombia', 'ecuador ',
       'Australia', 'Espanha', 'Euskal Herria'], dtype=object)

In [80]:
replace_map2 = {'España ':'España', 'Brasil ':'Brasil',
               'UK':'Inglaterra','Argentina.':'Argentina',
               'argentina':'Argentina','Eapaña':'España',
               'Espana':'España','Spain':'España',
               'República Dominicana ':'República Dominicana',
               'México ':'México','españa':'España',
              'Cataluña, España.':'España',
              'Bolivia ':'Bolivia','ESPAÑA':'España',
              'Argentina ':'Argentina','Portugal ':'Portugal',
               'Espanya':'España', 'Inglaterra ':'Inglaterra',
               'Países Bajos ':'Holanda','Lituania ':'Lituania',
               'Mexico ':'México','Colombia ':'Colombia',
               'Barcelona':'España','España hay':'España',
               'València':'España','Catalunya':'España',
               'Perú ':'Perú','colombia':'Colombia',
               'ecuador ':'Ecuador',
               'Espanha':'España','Euskal Herria':'España'}

In [81]:
basic_info.pais_residencia.replace(replace_map2, inplace=True)

In [82]:
basic_info.pais_residencia.value_counts()

España                  342
Argentina                40
México                   12
Brasil                    9
Chile                     6
Colombia                  3
Inglaterra                3
Portugal                  2
Bélgica                   2
Lituania                  1
Alemania                  1
China                     1
República Dominicana      1
Holanda                   1
Uruguay                   1
Perú                      1
Ecuador                   1
Australia                 1
Francia                   1
Bolivia                   1
Name: pais_residencia, dtype: int64

#### mail

In [83]:
contactos = basic_info[['Id','mail']]

In [84]:
contactos = contactos.dropna()

In [85]:
contactos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 283 entries, 0 to 433
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Id      283 non-null    int64
 1   mail    283 non-null    object
dtypes: int64(1), object(1)
memory usage: 6.6+ KB

### d) Drop duplicates

In [86]:
basic_info.duplicated().sum()

0

##  Feature engineering

In [87]:
basic_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 430 entries, 0 to 433
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               430 non-null    int64
 1   hora_rta         430 non-null    datetime64[ns]
 2   consentimiento   430 non-null    object
 3   edad             430 non-null    int64
 4   pais_origen      430 non-null    object
 5   pais_residencia  430 non-null    object
 6   mail             283 non-null    object
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 26.9+ KB

### b) Feature selection

In [88]:
basic_info_clean = basic_info[['Id','hora_rta','edad','pais_origen','pais_residencia']]

In [89]:
basic_info_clean.head()

   Id            hora_rta  edad pais_origen pais_residencia
0   0 2021-03-25 19:25:11    30      España          España
2   2 2021-03-26 00:02:08    25      España          España
3   3 2021-03-26 00:11:49    30      España          España
4   4 2021-03-26 00:15:23    29      España          España
5   5 2021-03-26 00:16:33    46      España          España

### a) Save the data clean

In [90]:
#contactos.to_csv('contactos.csv')

In [91]:
#basic_info_clean.to_csv('basic_info.csv')

In [ ]:
# Import libraries and data

import numpy as np
import math
import pandas as pd
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')
from matplotlib import pyplot as plt
import seaborn as sns

import sys
sys.path.insert(0, '/Users/dpagniez/Desktop/Functions')

from My_functions_EDA import *

data = pd.read_csv('/Users/dpagniez/Desktop/DS_bootcamp/FINAL PROJECT/ES_Final project questionnaire .csv')

test = data.copy()

test.info()

test.columns

test.head(10)


test= test.reset_index()
test=test.rename(columns={'index': 'Id'})

test.head()

# Meet the data - keys information



- `basic_info`: Dataset who contains the temporal mark, country borned, country of residence and age of the volunteers
    
- `selfsteem`: Dataset who contains the temporal mark and the questions of the rosenberg questionare and the final puntuation of the volunteers
    
- `body_bsq`: Dataset who contains the temporal mark, the questions of the reduced version of the body shape questionnare and the final puntuations of the volunteers
    
- `body_figures`: Dataset who contains the temporal mark, the questions and the results of the Collin's image analysis of the volunteers
    
- `body_acceptance`: Dataset who contains the temporal mark, the questions and the results of the acceptance of the different parts of the body of the volunteers

- `social_pression`: Dataset who contains the temporal mark, and some questions considering the social feedback that the volunteers recieve for her esthetic habits
    
- `body_modif`: Dataset who contains the temporal mark, the questions and the results of the modifications of the body that the volunteers do/done in therms of frequency
    
- `body_opinion`: Dataset who contains the temporal mark, and the free reflection about their bodys that some of the volunteers did 
    
- `instagram`: Dataset who contains the temporal mark, and all the information regarding instagram 
    
- `tiktok`: Dataset who contains the temporal mark, and all the information regarding Tik-Tok 
    
- `content`: Dataset who contains the temporal mark and information regadring the content that the volunteers consume and publish in both social networks 
    
- `lot_likes`: Dataset who contains the temporal mark, and the feelings/emotions that the volunteers say if they recieve a lot of likes
    
- `many_likes`: Dataset who contains the temporal mark, and the feelings/emotions that the volunteers say if they recieve a lot of likes
    
- `porno`: Dataset who contains the temporal mark, and the information about how the volunteers are exposed to pornography
    
- `opinion`: Dataset who contains the temporal mark, and some closed final questions to see what the volunteers think about the studied variables
    

basic_info = test.iloc[:,0:6]

basic_info.head()

- BASIC INFO

basic_info['mail']=test['Una vez realizada la investigación, si deseas recibir una copia de la presentación con las conclusiones, introduce tu mail aquí: ']

basic_info.head()

- SELFSTEEM

selfsteem = test.iloc[:,6:16]

selfsteem.info()

- BODY BSQ

body_bsq = test.iloc[:,16:23]

body_bsq.info()

- BODY FIGURES

body_figures = test.iloc[:,23:26]

body_figures = body_figures.reset_index()
body_figures = body_figures.rename(columns={'index': 'Id'})

body_figures.info()

- BODY ACCEPTANCE

body_acceptance = test.iloc[:,26:37]

body_acceptance.info()

- SOCIAL PRESSION

social_pression = test.iloc[:,37:43]

social_pression = social_pression.reset_index()
social_pression = social_pression.rename(columns={'index': 'Id'})

social_pression.info()

- BODY MODIF

body_modif = test.iloc[:,43:51]

body_modif = body_modif.reset_index()
body_modif = body_modif.rename(columns={'index': 'Id'})

body_modif.info()

- BODY OPINION

body_opinion = test.iloc[:,51:52]

body_opinion = body_opinion.reset_index()
body_opinion = body_opinion.rename(columns={'index': 'Id'})

body_opinion.info()

- INSTAGRAM

instagram = test.iloc[:,52:66]

instagram = instagram.reset_index()
instagram = instagram.rename(columns={'index': 'Id'})

instagram.info()

- TIKTOK

tiktok = test.iloc[:,66:76]

tiktok = tiktok.reset_index()
tiktok = tiktok.rename(columns={'index': 'Id'})

tiktok.info()

- CONTENT

content = test.iloc[:,76:83]

content = content.reset_index()
content = content.rename(columns={'index': 'Id'})

content.info()

content = content.append(test.iloc[:,85:89])

content.info()

- LOT LIKES

lot_likes = test.iloc[:,83:84]

lot_likes = lot_likes.reset_index()
lot_likes = lot_likes.rename(columns={'index': 'Id'})

lot_likes.info()

- MANY LIKES

many_likes = test.iloc[:,84:85]

many_likes = many_likes.reset_index()
many_likes = many_likes.rename(columns={'index': 'Id'})

many_likes.info()

- PORNO

porno = test.iloc[:,89:98]

porno = porno.reset_index()
porno = porno.rename(columns={'index': 'Id'})

porno.info()

- OPINION

opinion = test.iloc[:,98:103]

opinion = opinion.reset_index()
opinion = opinion.rename(columns={'index': 'Id'})

opinion.info()

# Basic_info

## EDA and Data Cleaning


### a) Check missing values:

basic_info.info()

basic_info.rename(columns={'Id': 'Id', 
                           'Marca temporal': 'hora_rta',
                            '¿Deseas participar?':'consentimiento',
                            '¿Cuántos años tienes?':'edad',
                            '¿Cuál es tu país de nacimiento?':'pais_origen',
                            '¿Cuál es tu país de residencia actual? ':'pais_residencia',
                            'mail':'mail'
                            
                           }, inplace=True)

basic_info.isnull().sum()

#### Consentimiento

basic_info.consentimiento.value_counts()

basic_info = basic_info[basic_info.consentimiento == 'Aceptar']

basic_info.isnull().sum()

### c) Dealing with numerical variables


#### Edad

basic_info.edad.unique()

basic_info.edad.replace('dieciséis',16,inplace=True)

to_drop = basic_info[(basic_info.edad=='cxz')|(basic_info.edad=='España')]
to_drop

basic_info = basic_info.drop(basic_info.Id[1])

basic_info = basic_info.drop(basic_info.Id[234])

basic_info.info()

basic_info.edad = basic_info.edad.astype('int')

basic_info.info()

#### hora_rta

basic_info.hora_rta=pd.to_datetime(basic_info.hora_rta)

basic_info.info()

### b) Dealing with categorical variables


#### país_origen

basic_info.pais_origen.unique()

replace_map = {'España ':'España', 'Brasil ':'Brasil',
               'Luxembourg':'Luxemburgo','Rumania ':'Rumania',
              'Rumanía':'Rumania','España.':'España',
              'Bolivia ':'Bolivia','ESPAÑA':'España',
              'argentina':'Argentina','Spain':'España',
              'República Dominicana ':'República Dominicana',
              'México ':'México','españa':'España',
              'Argentina ':'Argentina','Espanya':'España',
              'Mexico':'México','Rumanía ':'Rumania',
              'Mexico ':'México','Colombia ':'Colombia',
              'Sevilla ':'España','Catalunya':'España',
              'Perú ':'Perú','Espana':'España',
              'colombia':'Colombia','ecuador':'Ecuador',
              'España. Origen japones. ':'España',
              'Espanha':'España','Espala':'España'}

basic_info.pais_origen.replace(replace_map, inplace=True)

basic_info.pais_origen.value_counts()

to_drop = basic_info[(basic_info.pais_origen=='21/04/1980')]

to_drop

basic_info = basic_info.drop(basic_info.Id[31])

basic_info.info()

#### país_residencia

basic_info.pais_residencia.unique()

replace_map2 = {'España ':'España', 'Brasil ':'Brasil',
               'UK':'Inglaterra','Argentina.':'Argentina',
               'argentina':'Argentina','Eapaña':'España',
               'Espana':'España','Spain':'España',
               'República Dominicana ':'República Dominicana',
               'México ':'México','españa':'España',
              'Cataluña, España.':'España',
              'Bolivia ':'Bolivia','ESPAÑA':'España',
              'Argentina ':'Argentina','Portugal ':'Portugal',
               'Espanya':'España', 'Inglaterra ':'Inglaterra',
               'Países Bajos ':'Holanda','Lituania ':'Lituania',
               'Mexico ':'México','Colombia ':'Colombia',
               'Barcelona':'España','España hay':'España',
               'València':'España','Catalunya':'España',
               'Perú ':'Perú','colombia':'Colombia',
               'ecuador ':'Ecuador',
               'Espanha':'España','Euskal Herria':'España'}
              

basic_info.pais_residencia.replace(replace_map2, inplace=True)

basic_info.pais_residencia.value_counts()

#### mail

contactos = basic_info[['Id','mail']]

contactos = contactos.dropna()

contactos.info()

### d) Drop duplicates

basic_info.duplicated().sum()

##  Feature engineering 


basic_info.info()



### b) Feature selection


basic_info_clean = basic_info[['Id','hora_rta','edad','pais_origen','pais_residencia']]

basic_info_clean.head()

### a) Save the data clean


#contactos.to_csv('contactos.csv')

#basic_info_clean.to_csv('basic_info.csv')

# selfsteem

## EDA and Data Cleaning

In [92]:
selfsteem.columns

Index(['Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Me siento una persona tan valiosa como las otras]',
       'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Generalmente me inclino a pensar que soy un fracaso]',
       'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Creo que tengo algunas cualidades buenas]',
       'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Soy capaz de hacer las cosas tan bien como los demás]',
       'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Creo que no tengo mucho de lo que estar orgullosa]',
       'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Tengo una actitud positiva hacia mi misma]',
       'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [En general me siento satisfecha conmigo misma]',
       'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Me gustaría tener más respeto por mi misma]',
       'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Realmente me siento inútil en algunas situaciones]',
       'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [A veces pienso que no sirvo para nada]'],
      dtype='object')

In [93]:
selfsteem.rename(columns={
                           'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Me siento una persona tan valiosa como las otras]': '1',
                            'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Generalmente me inclino a pensar que soy un fracaso]':'2',
                            'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Creo que tengo algunas cualidades buenas]':'3',
                            'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Soy capaz de hacer las cosas tan bien como los demás]':'4',
                             'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Creo que no tengo mucho de lo que estar orgullosa]':'5',
                            'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Tengo una actitud positiva hacia mi misma]':'6',
                            'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [En general me siento satisfecha conmigo misma]':'7',
                             'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Me gustaría tener más respeto por mi misma]' :'8',
                             'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [Realmente me siento inútil en algunas situaciones]' :'9',
                             'Considerando los últimos tres meses: ¿Qué tan de acuerdo estas con las siguientes afirmaciones? [A veces pienso que no sirvo para nada]' :'10'
                            
                           }, inplace=True)

In [94]:
selfsteem.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       429 non-null    object
 1   2       430 non-null    object
 2   3       427 non-null    object
 3   4       429 non-null    object
 4   5       428 non-null    object
 5   6       427 non-null    object
 6   7       430 non-null    object
 7   8       430 non-null    object
 8   9       430 non-null    object
 9   10      430 non-null    object
dtypes: object(10)
memory usage: 34.0+ KB

In [95]:
selfsteem=selfsteem.dropna()

In [96]:
selfsteem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421 entries, 0 to 433
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       421 non-null    object
 1   2       421 non-null    object
 2   3       421 non-null    object
 3   4       421 non-null    object
 4   5       421 non-null    object
 5   6       421 non-null    object
 6   7       421 non-null    object
 7   8       421 non-null    object
 8   9       421 non-null    object
 9   10      421 non-null    object
dtypes: object(10)
memory usage: 36.2+ KB

### a) Check missing values:

In [97]:
selfsteem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421 entries, 0 to 433
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       421 non-null    object
 1   2       421 non-null    object
 2   3       421 non-null    object
 3   4       421 non-null    object
 4   5       421 non-null    object
 5   6       421 non-null    object
 6   7       421 non-null    object
 7   8       421 non-null    object
 8   9       421 non-null    object
 9   10      421 non-null    object
dtypes: object(10)
memory usage: 36.2+ KB

### b) Dealing with categorical variables

In [98]:
selfsteem['1'].value_counts()

De acuerdo           191
Muy de acuerdo       108
En desacuerdo         95
Muy en desacuerdo     27
Name: 1, dtype: int64

In [99]:
replace_map_positive = {'Muy en desacuerdo':1,
               'En desacuerdo':2,
              'De acuerdo':3,
              'Muy de acuerdo':4}

In [100]:
replace_map_negative = {'Muy en desacuerdo':4,
               'En desacuerdo':3,
              'De acuerdo':2,
              'Muy de acuerdo':1}

In [101]:
selfsteem['1'].replace(replace_map_positive, inplace=True)
selfsteem['3'].replace(replace_map_positive, inplace=True)
selfsteem['4'].replace(replace_map_positive, inplace=True)
selfsteem['6'].replace(replace_map_positive, inplace=True)
selfsteem['7'].replace(replace_map_positive, inplace=True)

In [102]:
selfsteem['2'].replace(replace_map_negative, inplace=True)
selfsteem['5'].replace(replace_map_negative, inplace=True)
selfsteem['8'].replace(replace_map_negative, inplace=True)
selfsteem['9'].replace(replace_map_negative, inplace=True)
selfsteem['10'].replace(replace_map_negative, inplace=True)

In [103]:
selfsteem.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 421 entries, 0 to 433
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       421 non-null    int64
 1   2       421 non-null    int64
 2   3       421 non-null    int64
 3   4       421 non-null    int64
 4   5       421 non-null    int64
 5   6       421 non-null    int64
 6   7       421 non-null    int64
 7   8       421 non-null    int64
 8   9       421 non-null    int64
 9   10      421 non-null    int64
dtypes: int64(10)
memory usage: 36.2 KB

In [104]:
selfsteem['total'] = selfsteem.sum(axis=1)

In [105]:
selfsteem

     1  2  3  4  5  6  7  8  9  10  total
0    3  3  4  4  3  3  4  1  2   3     30
1    1  4  1  1  4  1  1  4  4   4     25
2    3  3  4  4  3  3  4  1  2   3     30
3    1  1  3  2  2  2  1  1  4   2     19
4    2  3  1  1  3  2  2  3  3   3     23
..  .. .. .. .. .. .. .. .. ..  ..    ...
429  2  2  4  2  2  2  3  1  2   1     21
430  3  3  3  3  3  1  2  1  2   3     24
431  2  2  3  3  2  2  2  1  2   2     21
432  3  2  3  2  2  2  2  2  2   3     23
433  4  4  4  3  4  4  4  1  1   3     32

[421 rows x 11 columns]

In [106]:

selfsteem= selfsteem.reset_index()
selfsteem=selfsteem.rename(columns={'index': 'Id'})

In [107]:
selfsteem.head(15)

    Id  1  2  3  4  5  6  7  8  9  10  total
0    0  3  3  4  4  3  3  4  1  2   3     30
1    1  1  4  1  1  4  1  1  4  4   4     25
2    2  3  3  4  4  3  3  4  1  2   3     30
3    3  1  1  3  2  2  2  1  1  4   2     19
4    4  2  3  1  1  3  2  2  3  3   3     23
5    5  3  3  4  4  3  4  3  1  4   4     33
6    6  3  3  3  3  3  3  3  2  2   3     28
7    7  4  2  4  4  2  2  1  1  2   2     24
8    8  4  2  2  4  3  3  3  2  2   2     27
9    9  4  3  3  2  2  2  3  1  2   3     25
10  10  4  4  4  4  4  3  4  4  3   4     38
11  11  2  3  3  3  3  2  2  2  2   2     24
12  12  3  3  3  2  3  2  3  2  2   2     25
13  13  4  3  4  3  4  3  4  3  2   3     33
14  14  3  4  3  3  2  3  3  4  4   4     33

 - menos de 25 (inclusive) autoestima baja
 - entre 26 y 29 autoestima media
 - mas de 30 (inclusive) autoestima alta

In [108]:
low_selfsteem = selfsteem[selfsteem.total<=25]

In [109]:
low_selfsteem.shape

(208, 12)

In [110]:
med_selfsteem = selfsteem[(selfsteem.total>=26)&(selfsteem.total<=29)]

In [111]:
med_selfsteem.shape

(98, 12)

In [112]:
high_selfsteem = selfsteem[selfsteem.total>=30]

In [113]:
high_selfsteem.shape

(115, 12)

### c) Adding the diagnose

In [114]:
selfsteem['tag_selfsteem']=0

In [115]:
selfsteem.loc[selfsteem.total >=30,'tag_selfsteem']=3

In [116]:
selfsteem.loc[selfsteem.total <=25,'tag_selfsteem']=1

In [117]:
selfsteem.loc[(selfsteem.total>=26)&(selfsteem.total<=29),'tag_selfsteem']=2

In [118]:
selfsteem.tag_selfsteem.value_counts()

1    208
3    115
2     98
Name: tag_selfsteem, dtype: int64

### d) Drop duplicates

In [119]:
selfsteem.duplicated().sum()

0

##  Feature engineering

### a) Saving the data clean

In [488]:
#selfsteem.to_csv('selfsteem.csv')

### b) Feature selection

# body_bsq

## EDA and Data Cleaning

In [163]:
body_bsq.head()

,Considerando los últimos tres meses: [¿ Te ha preocupado que otra gente vea michelines/rollitos alrededor de tu cintura o estómago?],"Considerando los últimos tres meses: [Verte reflejada/o en un espejo o en un escaparate, ¿te ha hecho sentirte mal por tu figura?]",Considerando los últimos tres meses: [¿Te ha preocupado que tus muslos se ensanchen cuando te sientas ?],Considerando los últimos tres meses: [¿Te has sentido acomplejado/a por tu cuerpo?],Considerando los últimos tres meses: [¿Te has pellizcado zonas de tu cuerpo para ver cuánta grasa tenías?],Considerando los últimos tres meses: [¿ Has evitado llevar ropa que marque tu figura ?],Considerando los últimos tres meses: [¿Te ha preocupado que tu carne tenga aspecto de piel de naranja (celulitis)?]
0,siempre,muy frecuentemente,muy frecuentemente,muy frecuentemente,muy frecuentemente,a veces,siempre
1,nunca,nunca,nunca,nunca,nunca,nunca,nunca
2,siempre,muy frecuentemente,muy frecuentemente,siempre,siempre,a veces,siempre
3,siempre,siempre,siempre,siempre,siempre,muy frecuentemente,siempre
4,nunca,con frecuencia,nunca,con frecuencia,nunca,rara vez o casi nunca,rara vez o casi nunca

In [164]:
body_bsq.columns

Index(['Considerando los últimos tres meses:  [¿ Te ha preocupado que otra gente vea michelines/rollitos alrededor de tu cintura o estómago?]',
       'Considerando los últimos tres meses:  [Verte reflejada/o en un espejo o en un escaparate, ¿te ha hecho sentirte mal por tu figura?]',
       'Considerando los últimos tres meses:  [¿Te ha preocupado que tus muslos se ensanchen cuando te sientas ?]',
       'Considerando los últimos tres meses:  [¿Te has sentido acomplejado/a por tu cuerpo?]',
       'Considerando los últimos tres meses:  [¿Te has pellizcado zonas de tu cuerpo para ver cuánta grasa tenías?]',
       'Considerando los últimos tres meses:  [¿ Has evitado llevar ropa que marque tu figura ?]',
       'Considerando los últimos tres meses:  [¿Te ha preocupado que tu carne tenga aspecto de piel de naranja (celulitis)?]'],
      dtype='object')

In [165]:
body_bsq.rename(columns={
    'Considerando los últimos tres meses:  [¿ Te ha preocupado que otra gente vea michelines/rollitos alrededor de tu cintura o estómago?]': '7',
    'Considerando los últimos tres meses:  [Verte reflejada/o en un espejo o en un escaparate, ¿te ha hecho sentirte mal por tu figura?]':'6',
    'Considerando los últimos tres meses:  [¿Te ha preocupado que tus muslos se ensanchen cuando te sientas ?]' :'5',
    'Considerando los últimos tres meses:  [¿Te has sentido acomplejado/a por tu cuerpo?]':'4',
    'Considerando los últimos tres meses:  [¿Te has pellizcado zonas de tu cuerpo para ver cuánta grasa tenías?]':'1',
    'Considerando los últimos tres meses:  [¿ Has evitado llevar ropa que marque tu figura ?]':'2',
    'Considerando los últimos tres meses:  [¿Te ha preocupado que tu carne tenga aspecto de piel de naranja (celulitis)?]':'3',
     }, inplace=True)

In [166]:
body_bsq.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   7       432 non-null    object
 1   6       432 non-null    object
 2   5       433 non-null    object
 3   4       433 non-null    object
 4   1       433 non-null    object
 5   2       432 non-null    object
 6   3       433 non-null    object
dtypes: object(7)
memory usage: 23.9+ KB

### a) Check missing values:

In [167]:
body_bsq=body_bsq.dropna()

### b) Dealing with categorical variables

nunca (1), rara vez o casi nunca (2), a veces (3), con frecuencia (4), muy
frecuente (5) o siempre (6)

In [168]:
body_bsq['1'].value_counts()

a veces                  95
rara vez o casi nunca    82
muy frecuentemente       77
nunca                    67
siempre                  58
con frecuencia           51
Name: 1, dtype: int64

In [169]:
replace_map_bsq = {'nunca':1,
               'rara vez o casi nunca':2,
               'a veces':3,
               'con frecuencia':4,
               'muy frecuentemente':5,
               'siempre':6}

In [170]:
body_bsq['1'].replace(replace_map_bsq, inplace=True)
body_bsq['2'].replace(replace_map_bsq, inplace=True)
body_bsq['3'].replace(replace_map_bsq, inplace=True)
body_bsq['4'].replace(replace_map_bsq, inplace=True)
body_bsq['5'].replace(replace_map_bsq, inplace=True)
body_bsq['6'].replace(replace_map_bsq, inplace=True)
body_bsq['7'].replace(replace_map_bsq, inplace=True)

In [171]:
body_bsq.head(10)

   7  6  5  4  1  2  3
0  6  5  5  5  5  3  6
1  1  1  1  1  1  1  1
2  6  5  5  6  6  3  6
3  6  6  6  6  6  5  6
4  1  4  1  4  1  2  2
5  3  1  1  1  3  1  3
6  3  2  2  4  2  3  1
7  5  5  3  4  6  5  2
8  3  1  1  2  1  1  2
9  4  4  4  4  3  3  4

In [172]:
body_bsq['total_bsq']=body_bsq.sum(axis=1)

### c) Dealing with numerical variables

In [173]:
without_bsq = body_bsq[body_bsq.total_bsq<17]

In [174]:
without_bsq.shape

(100, 8)

In [175]:
low_bsq = body_bsq[(body_bsq.total_bsq>=17)&(body_bsq.total_bsq<=22)]

In [176]:
low_bsq.shape

(100, 8)

In [177]:
med_bsq = body_bsq[(body_bsq.total_bsq>=23)&(body_bsq.total_bsq<=29)]

In [178]:
med_bsq.shape

(97, 8)

In [179]:
high_bsq = body_bsq[body_bsq.total_bsq>=30]

In [180]:
high_bsq.shape

(133, 8)

In [181]:
body_bsq.head(20)

    7  6  5  4  1  2  3  total_bsq
0   6  5  5  5  5  3  6         35
1   1  1  1  1  1  1  1          7
2   6  5  5  6  6  3  6         37
3   6  6  6  6  6  5  6         41
4   1  4  1  4  1  2  2         15
5   3  1  1  1  3  1  3         13
6   3  2  2  4  2  3  1         17
7   5  5  3  4  6  5  2         30
8   3  1  1  2  1  1  2         11
9   4  4  4  4  3  3  4         26
10  6  3  3  6  5  3  4         30
11  5  5  1  6  6  6  3         32
12  5  3  2  4  5  5  2         26
13  2  1  1  2  1  1  1          9
14  1  1  1  1  1  1  2          8
15  5  6  6  5  5  5  6         38
16  1  1  1  2  1  2  2         10
17  6  6  5  5  5  1  1         29
18  5  3  3  5  2  5  4         27
19  6  6  6  6  6  6  6         42

### e) Adding the diagnose

In [182]:
body_bsq['tag_bsq']=1

In [183]:
body_bsq.loc[(body_bsq.total_bsq>=17)&(body_bsq.total_bsq<=22),'tag_bsq']=2

In [184]:
body_bsq.loc[(body_bsq.total_bsq>=23)&(body_bsq.total_bsq<=29),'tag_bsq']=3

In [185]:
body_bsq.loc[body_bsq.total_bsq>=30,'tag_bsq']=4

In [186]:
body_bsq.loc[body_bsq.total_bsq<17,'tag_bsq']=1

In [187]:
body_bsq.tag_bsq.value_counts()

4    133
1    100
2    100
3     97
Name: tag_bsq, dtype: int64

- menos de 17, tag_bsq 1, sin preocupacion por la forma corporal
- entre 17 y 22, tag_bsq 2, baja preocupacion por la forma corporal
- entre 23 y 29, tag_bsq 3, moderada preocupacion por la forma corporal
- mas de 30 puntos, tag_bsq 4, alta preocupacion por la forma corporal

### d) Drop duplicates

In [188]:
body_bsq.duplicated().sum()

37

In [191]:
body_bsq.head()

   Id  7  6  5  4  1  2  3  total_bsq  tag_bsq
0   0  6  5  5  5  5  3  6         35        4
2   2  6  5  5  6  6  3  6         37        4
3   3  6  6  6  6  6  5  6         41        4
4   4  1  4  1  4  1  2  2         15        1
5   5  3  1  1  1  3  1  3         13        1

##  Feature engineering

In [189]:

body_bsq = body_bsq.reset_index()
body_bsq = body_bsq.rename(columns={'index': 'Id'})

In [190]:
body_bsq = body_bsq.drop(body_bsq.Id[1])

### a) Encoding categorical variables

In [ ]:
## no hay variables categoricas en este test psicometrico

### b) Saving the data clean

In [486]:
#body_bsq.to_csv('body_bsq.csv')

In [485]:
body_bsq.head(20)

    Id  7  6  5  4  1  2  3  total_bsq  tag_bsq
0    0  6  5  5  5  5  3  6         35        4
2    2  6  5  5  6  6  3  6         37        4
3    3  6  6  6  6  6  5  6         41        4
4    4  1  4  1  4  1  2  2         15        1
5    5  3  1  1  1  3  1  3         13        1
6    6  3  2  2  4  2  3  1         17        2
7    7  5  5  3  4  6  5  2         30        4
8    8  3  1  1  2  1  1  2         11        1
9    9  4  4  4  4  3  3  4         26        3
10  10  6  3  3  6  5  3  4         30        4
11  11  5  5  1  6  6  6  3         32        4
12  12  5  3  2  4  5  5  2         26        3
13  13  2  1  1  2  1  1  1          9        1
14  14  1  1  1  1  1  1  2          8        1
15  15  5  6  6  5  5  5  6         38        4
16  16  1  1  1  2  1  2  2         10        1
17  17  6  6  5  5  5  1  1         29        3
18  18  5  3  3  5  2  5  4         27        3
19  19  6  6  6  6  6  6  6         42        4
20  20  5  3  5  3  3  6  3         28        3

# body_figures

## EDA and Data Cleaning

In [192]:
body_figures.head()

,Id,Observa las siguientes figuras: [¿Cuál se parece más a tu cuerpo actualmente?],Observa las siguientes figuras: [¿Cuál se parece más al cuerpo que desearías tener?],Observa las siguientes figuras: [¿Cuál crees que es la más atractiva para el sexo que te atrae?]
0,0,5.0,4.0,4.0
1,1,2.0,2.0,2.0
2,2,5.0,3.0,4.0
3,3,7.0,3.0,4.0
4,4,2.0,4.0,4.0

In [193]:
body_figures.columns

Index(['Id',
       'Observa las siguientes figuras:  [¿Cuál se parece más a tu cuerpo actualmente?]',
       'Observa las siguientes figuras:  [¿Cuál se parece más al cuerpo que desearías tener?]',
       'Observa las siguientes figuras:  [¿Cuál crees que es la más atractiva para el sexo que te atrae?]'],
      dtype='object')

In [194]:
body_figures.rename(columns={
    'Observa las siguientes figuras:  [¿Cuál se parece más a tu cuerpo actualmente?]': 'cuerpo_real',
    'Observa las siguientes figuras:  [¿Cuál se parece más al cuerpo que desearías tener?]':'cuerpo_deseado',
    'Observa las siguientes figuras:  [¿Cuál crees que es la más atractiva para el sexo que te atrae?]':'cuerpo_atractivo',
    }, inplace=True)

In [195]:
body_figures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                434 non-null    int64
 1   cuerpo_real       433 non-null    float64
 2   cuerpo_deseado    431 non-null    float64
 3   cuerpo_atractivo  418 non-null    float64
dtypes: float64(3), int64(1)
memory usage: 13.7 KB

### a) Check missing values:

In [196]:
body_figures.isnull().sum()

Id                   0
cuerpo_real          1
cuerpo_deseado       3
cuerpo_atractivo    16
dtype: int64

In [197]:
body_figures=body_figures.dropna()

### c) Dealing with numerical variables

In [198]:
body_figures.cuerpo_real.value_counts()

4.0    117
5.0    116
3.0     59
6.0     51
2.0     44
7.0     12
1.0      9
9.0      4
8.0      4
Name: cuerpo_real, dtype: int64

In [199]:
body_figures.cuerpo_deseado.value_counts()

3.0    197
4.0    135
2.0     44
5.0     25
1.0     13
6.0      2
Name: cuerpo_deseado, dtype: int64

In [200]:
body_figures.cuerpo_atractivo.value_counts()

3.0    195
4.0    115
2.0     62
5.0     28
1.0     14
6.0      2
Name: cuerpo_atractivo, dtype: int64

### d) Drop duplicates

In [201]:
body_figures.duplicated().sum()

0

### e) Adding some diagnose

In [202]:
body_figures['diferencia']= body_figures["cuerpo_real"] - body_figures["cuerpo_deseado"]

In [203]:
body_figures.head()

   Id  cuerpo_real  cuerpo_deseado  cuerpo_atractivo  diferencia
0   0          5.0             4.0               4.0         1.0
1   1          2.0             2.0               2.0         0.0
2   2          5.0             3.0               4.0         2.0
3   3          7.0             3.0               4.0         4.0
4   4          2.0             4.0               4.0        -2.0

- Si diferencia es negativa: quieren un cuerpo mas robusto del que tienen
- Si la diferencia es positiva: quieren un cuerpo mas delgado del que tienen
- A mayor distancia de 0 en diferencia, mayor es el grado de disonancia entre el cuerpo real y el deseado
- Diferencia = 0, el cuerpo real y el deseado coinciden

In [204]:
body_figures.diferencia.value_counts()

 1.0    156
 2.0    110
 0.0     77
-1.0     30
 3.0     18
-2.0     13
 4.0      5
-3.0      3
 6.0      3
 8.0      1
Name: diferencia, dtype: int64

##  Saving the data clean

In [484]:
#body_figures.to_csv('body_figures.csv')

# body_acceptance

## EDA and Data Cleaning

In [205]:
body_acceptance.head()

,¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Cara],¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Espalda/hombros],¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Brazos],¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Pechos],¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Estómago],¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Nalgas],¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Cadera],¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Cintura],¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Piernas],¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Muslos],¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Pantorrillas]
0,Conforme,NaN,NaN,Disconforme,Disconforme,Conforme,Neutra,Neutra,Disconforme,Disconforme,Neutra
1,Orgullosa,NaN,NaN,Orgullosa,Orgullosa,Orgullosa,Orgullosa,Orgullosa,Orgullosa,Orgullosa,Orgullosa
2,Conforme,NaN,NaN,Disconforme,Disconforme,Neutra,Conforme,Neutra,Neutra,Neutra,Neutra
3,Conforme,NaN,NaN,Conforme,Disconforme,Conforme,Neutra,Conforme,Disconforme,Disconforme,Neutra
4,Disconforme,NaN,NaN,Conforme,Orgullosa,Orgullosa,Orgullosa,Orgullosa,Neutra,Neutra,Conforme

In [206]:
body_acceptance.columns

Index(['¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Cara]',
       '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Espalda/hombros]',
       '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Brazos]',
       '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Pechos]',
       '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Estómago]',
       '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Nalgas]',
       '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Cadera]',
       '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Cintura]',
       '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Piernas]',
       '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Muslos]',
       '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Pantorrillas]'],
      dtype='object')

In [207]:
body_acceptance.rename(columns={
    '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Cara]': 'Cara',
    '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Espalda/hombros]':'Espalda/hombros',
    '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Brazos]' :'Brazos',
    '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Pechos]':'Pechos',
    '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Estómago]':'Estómago',
    '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Nalgas]':'Nalgas',
    '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Cadera]':'Caderas',
    '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Cintura]':'Cintura',
    '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Piernas]':'Piernas',
    '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Muslos]':'Muslos',
    '¿Cómo te sientes respecto a las siguientes partes de tu cuerpo? [Pantorrillas]':'Pantorrillas',
     }, inplace=True)

In [208]:
body_acceptance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cara             432 non-null    object
 1   Espalda/hombros  412 non-null    object
 2   Brazos           411 non-null    object
 3   Pechos           432 non-null    object
 4   Estómago         430 non-null    object
 5   Nalgas           433 non-null    object
 6   Caderas          432 non-null    object
 7   Cintura          431 non-null    object
 8   Piernas          430 non-null    object
 9   Muslos           432 non-null    object
 10  Pantorrillas     433 non-null    object
dtypes: object(11)
memory usage: 37.4+ KB

### a) Check missing values:

In [209]:
percentage_nullValues(body_acceptance)

                 Percentage_NaN
Brazos                      5.3
Espalda/hombros             5.1
Estómago                    0.9
Piernas                     0.9
Cintura                     0.7
Cara                        0.5
Pechos                      0.5
Caderas                     0.5
Muslos                      0.5
Nalgas                      0.2
Pantorrillas                0.2

In [210]:
fill_na(body_acceptance)

Number of missing values on your dataset are

Cara               0
Espalda/hombros    0
Brazos             0
Pechos             0
Estómago           0
Nalgas             0
Caderas            0
Cintura            0
Piernas            0
Muslos             0
Pantorrillas       0
dtype: int64

,Cara,Espalda/hombros,Brazos,Pechos,Estómago,Nalgas,Caderas,Cintura,Piernas,Muslos,Pantorrillas
0,Conforme,Conforme,Conforme,Disconforme,Disconforme,Conforme,Neutra,Neutra,Disconforme,Disconforme,Neutra
1,Orgullosa,Conforme,Conforme,Orgullosa,Orgullosa,Orgullosa,Orgullosa,Orgullosa,Orgullosa,Orgullosa,Orgullosa
2,Conforme,Conforme,Conforme,Disconforme,Disconforme,Neutra,Conforme,Neutra,Neutra,Neutra,Neutra
3,Conforme,Conforme,Conforme,Conforme,Disconforme,Conforme,Neutra,Conforme,Disconforme,Disconforme,Neutra
4,Disconforme,Conforme,Conforme,Conforme,Orgullosa,Orgullosa,Orgullosa,Orgullosa,Neutra,Neutra,Conforme
...,...,...,...,...,...,...,...,...,...,...,...
429,Neutra,Conforme,Conforme,Conforme,Conforme,Orgullosa,Orgullosa,Conforme,Conforme,Conforme,Conforme
430,Conforme,Conforme,Disconforme,Orgullosa,Disconforme,Neutra,Conforme,Orgullosa,Neutra,Neutra,Conforme
431,Disconforme,Neutra,Disconforme,Conforme,Disconforme,Disconforme,Disconforme,Disconforme,Disconforme,Disconforme,Disconforme
432,Neutra,Disconforme,Neutra,Neutra,Disconforme,Conforme,Conforme,Disconforme,Neutra,Neutra,Neutra
433,Conforme,Neutra,Neutra,Conforme,Disconforme,Conforme,Orgullosa,Neutra,Orgullosa,Disconforme,Conforme

- puntuacion rango entre 11 y 44 
- Escala = Disconforme: 1 / Neutra: 2 / Conforme: 3 / Orgullosa: 4 
- 11 a 22: Grado alto de disconformidad con el propio cuerpo
- 23 a 33: Grado medio de conformidad con el cuerpo
- 34 a 44: Grado alto de conformidad con el cuerpo

### b) Dealing with categorical variables

In [211]:
replace_map_acceptance = {'Disconforme':1,
               'Neutra':2,
              'Conforme':3,
              'Orgullosa':4}

In [212]:
body_acceptance['Cara'].replace(replace_map_acceptance, inplace=True)
body_acceptance['Espalda/hombros'].replace(replace_map_acceptance, inplace=True)
body_acceptance['Brazos'].replace(replace_map_acceptance, inplace=True)
body_acceptance['Pechos'].replace(replace_map_acceptance, inplace=True)
body_acceptance['Estómago'].replace(replace_map_acceptance, inplace=True)
body_acceptance['Nalgas'].replace(replace_map_acceptance, inplace=True)
body_acceptance['Caderas'].replace(replace_map_acceptance, inplace=True)
body_acceptance['Cintura'].replace(replace_map_acceptance, inplace=True)
body_acceptance['Piernas'].replace(replace_map_acceptance, inplace=True)
body_acceptance['Muslos'].replace(replace_map_acceptance, inplace=True)
body_acceptance['Pantorrillas'].replace(replace_map_acceptance, inplace=True)

In [213]:
body_acceptance.head(10)

,Cara,Espalda/hombros,Brazos,Pechos,Estómago,Nalgas,Caderas,Cintura,Piernas,Muslos,Pantorrillas
0,3,3,3,1,1,3,2,2,1,1,2
1,4,3,3,4,4,4,4,4,4,4,4
2,3,3,3,1,1,2,3,2,2,2,2
3,3,3,3,3,1,3,2,3,1,1,2
4,1,3,3,3,4,4,4,4,2,2,3
5,3,3,3,3,3,3,3,3,3,3,3
6,1,3,3,2,1,3,4,3,3,3,3
7,4,3,3,1,1,1,1,1,3,3,3
8,2,3,3,4,4,3,3,4,4,4,2
9,2,3,3,2,1,2,1,1,1,1,2

### c) Dealing with numerical variables

In [214]:
body_acceptance['total_acceptance']=body_acceptance.sum(axis=1)

In [215]:
body_acceptance.head()

,Cara,Espalda/hombros,Brazos,Pechos,Estómago,Nalgas,Caderas,Cintura,Piernas,Muslos,Pantorrillas,total_acceptance
0,3,3,3,1,1,3,2,2,1,1,2,22
1,4,3,3,4,4,4,4,4,4,4,4,42
2,3,3,3,1,1,2,3,2,2,2,2,24
3,3,3,3,3,1,3,2,3,1,1,2,25
4,1,3,3,3,4,4,4,4,2,2,3,33

### d) Drop duplicates

In [216]:
body_acceptance.duplicated().sum()

23

### e) Adding some diagnose

- puntuacion rango entre 11 y 44 
- Escala = Disconforme: 1 / Neutra: 2 / Conforme: 3 / Orgullosa: 4 
- 11 a 22: Grado alto de disconformidad con el propio cuerpo
- 23 a 33: Grado medio de conformidad con el cuerpo
- 34 a 44: Grado alto de conformidad con el cuerpo

- tag_acceptance 1=bajo, 2=medio, 3=alto

In [217]:
low_acceptance = body_acceptance[body_acceptance.total_acceptance<=22]
low_acceptance.shape

(180, 12)

In [218]:
med_acceptance = body_acceptance[(body_acceptance.total_acceptance>=23)&(body_acceptance.total_acceptance<=33)]
med_acceptance.shape

(194, 12)

In [219]:
high_acceptance = body_acceptance[body_acceptance.total_acceptance>=34]
high_acceptance.shape

(60, 12)

In [220]:
body_acceptance.loc[body_acceptance.total_acceptance<=22,'tag_acceptance']=1

In [227]:
body_acceptance.loc[(body_acceptance.total_acceptance>=23)&(body_acceptance.total_acceptance<=33),'tag_acceptance']=2

In [228]:
body_acceptance.loc[body_acceptance.total_acceptance>=34,'tag_acceptance']=3

In [229]:
body_acceptance.head()

,Cara,Espalda/hombros,Brazos,Pechos,Estómago,Nalgas,Caderas,Cintura,Piernas,Muslos,Pantorrillas,total_acceptance,tag_acceptance
0,3,3,3,1,1,3,2,2,1,1,2,22,1.0
1,4,3,3,4,4,4,4,4,4,4,4,42,3.0
2,3,3,3,1,1,2,3,2,2,2,2,24,2.0
3,3,3,3,3,1,3,2,3,1,1,2,25,2.0
4,1,3,3,3,4,4,4,4,2,2,3,33,2.0
5,3,3,3,3,3,3,3,3,3,3,3,33,2.0
6,1,3,3,2,1,3,4,3,3,3,3,29,2.0
7,4,3,3,1,1,1,1,1,3,3,3,24,2.0
8,2,3,3,4,4,3,3,4,4,4,2,36,3.0
9,2,3,3,2,1,2,1,1,1,1,2,19,1.0
10,4,3,3,3,1,3,3,3,4,1,4,32,2.0
11,2,3,3,1,1,2,2,2,3,3,3,25,2.0
12,4,3,3,2,1,1,1,1,4,3,2,25,2.0
13,3,3,3,3,3,3,3,3,3,3,3,33,2.0
14,4,3,3,4,4,4,4,4,4,4,4,42,3.0
15,3,3,3,3,1,1,1,3,1,1,1,21,1.0
16,4,3,3,4,4,4,4,4,4,4,4,42,3.0
17,4,3,3,4,1,1,1,1,1,1,1,21,1.0
18,1,3,3,4,1,2,3,2,1,1,1,22,1.0
19,1,3,3,1,1,2,2,1,1,1,1,17,1.0

In [230]:
body_acceptance.tag_acceptance.value_counts()

2.0    194
1.0    180
3.0     60
Name: tag_acceptance, dtype: int64

### e) Considering the different parts of the body

In [231]:
body_acceptance.Cara.value_counts()

3    218
4     74
1     72
2     70
Name: Cara, dtype: int64

In [232]:
body_acceptance['Espalda/hombros'].value_counts()

3    184
2    103
1     86
4     61
Name: Espalda/hombros, dtype: int64

In [233]:
body_acceptance.Brazos.value_counts()

3    168
1    131
2     97
4     38
Name: Brazos, dtype: int64

In [234]:
body_acceptance.Pechos.value_counts()

3    161
1    108
2     85
4     80
Name: Pechos, dtype: int64

In [235]:
body_acceptance['Estómago'].value_counts()

1    235
3     86
2     68
4     45
Name: Estómago, dtype: int64

In [236]:
body_acceptance.Nalgas.value_counts()

1    155
2    115
3    104
4     60
Name: Nalgas, dtype: int64

In [237]:
body_acceptance.Caderas.value_counts()

1    135
3    125
2    113
4     61
Name: Caderas, dtype: int64

In [238]:
body_acceptance.Cintura.value_counts()

1    147
3    131
2     94
4     62
Name: Cintura, dtype: int64

In [239]:
body_acceptance.Piernas.value_counts()

1    146
3    127
2     95
4     66
Name: Piernas, dtype: int64

In [240]:
body_acceptance.Muslos.value_counts()

1    177
3    116
2     94
4     47
Name: Muslos, dtype: int64

In [241]:
body_acceptance.Pantorrillas.value_counts()

3    158
2    117
1    104
4     55
Name: Pantorrillas, dtype: int64

##  Feature engineering

### b) Feature selection

In [242]:
body_acceptance = body_acceptance.reset_index()
body_acceptance = body_acceptance.rename(columns={'index': 'Id'})

### a) Saving the data clean

In [483]:
#body_acceptance.to_csv('body_acceptance.csv')

# social_pression

## EDA and Data Cleaning

In [243]:
social_pression.head()

,Id,Considerando los últimos tres meses: [¿Te has sentido observada y/o juzgada por no ir maquillada?],Considerando los últimos tres meses: [¿Esto te ha hecho sentir mal?],Considerando los últimos tres meses: [¿Te has sentido observada y/o juzgada por no ir depilada?],Considerando los últimos tres meses: [¿Esto te ha hecho sentir mal? ],Considerando los últimos tres meses: [¿Te has sentido observada y/o juzgada por no llevar el pelo arreglado?],Considerando los últimos tres meses: [¿Esto te ha hecho sentir mal? ]
0,0,A veces,A veces,Nunca,Nunca,A veces,Rara vez o casi nunca
1,1,Rara vez o casi nunca,Rara vez o casi nunca,Rara vez o casi nunca,Rara vez o casi nunca,Rara vez o casi nunca,Rara vez o casi nunca
2,2,A veces,A veces,Frecuentemente,Siempre,Muy frecuentemente,A veces
3,3,Nunca,Nunca,Nunca,Nunca,Nunca,Nunca
4,4,Frecuentemente,Frecuentemente,Frecuentemente,Frecuentemente,Frecuentemente,Frecuentemente

In [244]:
social_pression.columns

Index(['Id',
       'Considerando los últimos tres meses:  [¿Te has sentido observada y/o juzgada por no ir maquillada?]',
       'Considerando los últimos tres meses:  [¿Esto te ha hecho sentir mal?]',
       'Considerando los últimos tres meses:  [¿Te has sentido observada y/o juzgada por no ir depilada?]',
       'Considerando los últimos tres meses:  [¿Esto te ha hecho sentir mal? ]',
       'Considerando los últimos tres meses:  [¿Te has sentido observada y/o juzgada por no llevar el pelo arreglado?]',
       'Considerando los últimos tres meses:  [¿Esto te ha hecho sentir mal?  ]'],
      dtype='object')

In [245]:
social_pression.rename(columns={
    'Considerando los últimos tres meses:  [¿Te has sentido observada y/o juzgada por no ir maquillada?]': 'maquillaje',
    'Considerando los últimos tres meses:  [¿Esto te ha hecho sentir mal?]':'maquillaje_sent',
    'Considerando los últimos tres meses:  [¿Te has sentido observada y/o juzgada por no ir depilada?]':'depilacion',
    'Considerando los últimos tres meses:  [¿Esto te ha hecho sentir mal? ]':'depilacion_sent',
    'Considerando los últimos tres meses:  [¿Te has sentido observada y/o juzgada por no llevar el pelo arreglado?]':'pelo',
    'Considerando los últimos tres meses:  [¿Esto te ha hecho sentir mal?  ]':'pelo_sent',
     }, inplace=True)

In [246]:
social_pression.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 434 entries, 0 to 433
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Id               434 non-null    int64
 1   maquillaje       433 non-null    object
 2   maquillaje_sent  421 non-null    object
 3   depilacion       430 non-null    object
 4   depilacion_sent  427 non-null    object
 5   pelo             431 non-null    object
 6   pelo_sent        427 non-null    object
dtypes: int64(1), object(6)
memory usage: 23.9+ KB

- las preguntas 1 3 y 5 refieren a la presion social
- las preguntas 2 4 y 6 a la repercusion emocional de dicha presion social - las preguntas giran en torno a:
                       1 y 2 = maquillaje
                       3 y 4 = depilación
                       5 y 6 = pelo

### a) Check missing values:

In [247]:
percentage_nullValues(social_pression)

                 Percentage_NaN
maquillaje_sent             3.0
depilacion_sent             1.6
pelo_sent                   1.6
depilacion                  0.9
pelo                        0.7
maquillaje                  0.2
Id                          0.0

In [248]:
social_pression=social_pression.dropna()

### b) Dealing with categorical variables

In [249]:
replace_map_social = {'Nunca':1,
               'Rara vez o casi nunca':2,
              'A veces':3,
              'Frecuentemente':4,
              'Muy frecuentemente':5,
              'Siempre':6   }

In [250]:
social_pression.maquillaje.replace(replace_map_social,inplace=True)
social_pression.maquillaje_sent.replace(replace_map_social,inplace=True)
social_pression.depilacion.replace(replace_map_social,inplace=True)
social_pression.depilacion_sent.replace(replace_map_social,inplace=True)
social_pression.pelo.replace(replace_map_social,inplace=True)
social_pression.pelo_sent.replace(replace_map_social,inplace=True)

In [251]:
social_pression.head()

,Id,maquillaje,maquillaje_sent,depilacion,depilacion_sent,pelo,pelo_sent
0,0,3,3,1,1,3,2
1,1,2,2,2,2,2,2
2,2,3,3,4,6,5,3
3,3,1,1,1,1,1,1
4,4,4,4,4,4,4,4

### c) Dealing with numerical variables

- Rangos total_sp y efectos_sp = de 3 a 18 
- De 3 a 7 baja frecuencia de presion social y/o repercusion de la misma
- De 8 a 12 frecuencia media de presion social y/o repercusion de la misma
- De 13 a 18 alta frecuencia de presion social y/o repercusion de la misma

In [252]:
social_pression["total_sp"]= social_pression[['maquillaje','depilacion','pelo']].sum(axis=1)

In [253]:
social_pression["efectos_sp"]= social_pression[['maquillaje_sent','depilacion_sent','pelo_sent']].sum(axis=1)

### d) Drop duplicates

In [254]:
social_pression.duplicated().sum()

0

,Id,maquillaje,maquillaje_sent,depilacion,depilacion_sent,pelo,pelo_sent,total_sp,efectos_sp
0,0,3,3,1,1,3,2,7,6
1,1,2,2,2,2,2,2,6,6
2,2,3,3,4,6,5,3,12,12
3,3,1,1,1,1,1,1,3,3
4,4,4,4,4,4,4,4,12,12
...,...,...,...,...,...,...,...,...,...
428,428,1,1,3,4,5,5,9,10
429,429,2,3,6,4,5,3,13,10
430,430,3,2,4,3,5,5,12,10
431,431,3,4,4,4,2,2,9,10
433,433,4,3,4,3,3,1,11,7

### e) VER! Adding some labels

- percepcion de la presion social

In [255]:
low_frec_sp = social_pression[social_pression.total_sp<=7]
low_frec_sp.shape

(177, 9)

In [256]:
med_frec_sp = social_pression[(social_pression.total_sp>=8)&(social_pression.total_sp<=12)]
med_frec_sp.shape

(185, 9)

In [257]:
high_frec_sp = social_pression[social_pression.total_sp>=13]
high_frec_sp.shape

(53, 9)

In [266]:
social_pression

,Id,maquillaje,maquillaje_sent,depilacion,depilacion_sent,pelo,pelo_sent,total_sp,efectos_sp,tag_presion
0,0,3,3,1,1,3,2,7,6,1.0
1,1,2,2,2,2,2,2,6,6,1.0
2,2,3,3,4,6,5,3,12,12,2.0
3,3,1,1,1,1,1,1,3,3,1.0
4,4,4,4,4,4,4,4,12,12,2.0
...,...,...,...,...,...,...,...,...,...,...
428,428,1,1,3,4,5,5,9,10,2.0
429,429,2,3,6,4,5,3,13,10,3.0
430,430,3,2,4,3,5,5,12,10,2.0
431,431,3,4,4,4,2,2,9,10,2.0
433,433,4,3,4,3,3,1,11,7,2.0

In [262]:
social_pression.loc[social_pression.total_sp <=7,'tag_presion']=1

In [263]:
social_pression.loc[(social_pression.total_sp>=8)&(social_pression.total_sp<=12),'tag_presion']=2

In [265]:
social_pression.loc[social_pression.total_sp>=13,'tag_presion']=3

- efectos de la presion social

In [258]:
low_efect_sp = social_pression[social_pression.efectos_sp<=7]
low_efect_sp.shape

(222, 9)

In [259]:
med_efect_sp = social_pression[(social_pression.efectos_sp>=8)&(social_pression.efectos_sp<=12)]
med_efect_sp.shape

(146, 9)

In [260]:
high_efect_sp = social_pression[social_pression.efectos_sp>=13]
high_efect_sp.shape

(47, 9)

In [267]:
social_pression.loc[social_pression.efectos_sp <=7,'tag_efectos']=1

In [268]:
social_pression.loc[(social_pression.efectos_sp>=8)&(social_pression.efectos_sp<=12),'tag_efectos']=2

In [269]:
social_pression.loc[social_pression.efectos_sp>=13,'tag_efectos']=3

In [270]:
social_pression

,Id,maquillaje,maquillaje_sent,depilacion,depilacion_sent,pelo,pelo_sent,total_sp,efectos_sp,tag_presion,tag_efectos
0,0,3,3,1,1,3,2,7,6,1.0,1.0
1,1,2,2,2,2,2,2,6,6,1.0,1.0
2,2,3,3,4,6,5,3,12,12,2.0,2.0
3,3,1,1,1,1,1,1,3,3,1.0,1.0
4,4,4,4,4,4,4,4,12,12,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...
428,428,1,1,3,4,5,5,9,10,2.0,2.0
429,429,2,3,6,4,5,3,13,10,3.0,2.0
430,430,3,2,4,3,5,5,12,10,2.0,2.0
431,431,3,4,4,4,2,2,9,10,2.0,2.0
433,433,4,3,4,3,3,1,11,7,2.0,1.0

- Rangos total_sp y efectos_sp = de 3 a 18 
- De 3 a 7 baja frecuencia de presion social y/o repercusion de la misma
- De 8 a 12 frecuencia media de presion social y/o repercusion de la misma
- De 13 a 18 alta frecuencia de presion social y/o repercusion de la misma
- tag_presion y tag_efectos = rango de 1 a 3 donde 1 corresponde a baja, 2 a media y 3 a alta frecuencia

- Value counts de maquillaje, pelo y depilacion

In [ ]:
social_pression.maquillaje.value_counts()

In [ ]:
social_pression.depilacion.value_counts()

In [ ]:
social_pression.pelo.value_counts()

## Saving the data clean

In [489]:
#social_pression.to_csv('social_presion.csv')

# body_opinion

In [476]:
body_opinion.head()

   Id Haz una breve reflexión libre acerca de como te sientes con tu cuerpo.
0   0  En general bien, hasta que empiezo a compararm...
1   1                                                NaN
2   2  Aprendiendo a aceptarme y quererme desaprendie...
3   3                                           Horrible
4   4  Me veo delgada, me gustaría tener más carne, l...

In [477]:
body_opinion=body_opinion.dropna()

In [478]:
body_opinion.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 341 entries, 0 to 433
Data columns (total 2 columns):
 #   Column                                                                  Non-Null Count  Dtype
---  ------                                                                  --------------  -----
 0   Id                                                                      341 non-null    int64
 1   Haz una breve reflexión libre acerca de como te sientes con tu cuerpo.  341 non-null    object
dtypes: int64(1), object(1)
memory usage: 8.0+ KB

## Saving the dataset

In [480]:
#body_opinion.to_csv('body_opinion.csv')

# Instagram

In [408]:
instagram.head()

,Id,¿Tienes Instagram?,¿A qué edad te hiciste el perfil en Instagram?,¿Cuántas horas al día crees que pasas en la aplicación?,¿Cuántas veces al día dirías que entras a la aplicación por aburrimiento?,¿Cuántas veces al día estas mirando el teléfono por alguna otra razón y terminas entrando en Instagram?,"¿Cada vez que entras a Instagram, cuánto tiempo dirías en promedio que permaneces en la aplicación?",Semanalmente: [¿Cuántas fotografías subes?],Semanalmente: [¿En cuántas de ellas apareces?],"Semanalmente: [De las que apareces, ¿Cuántas llevan algún filtro? ]",Semanalmente: [¿Cuántas historias subes?],Semanalmente: [¿En cuántas de ellas apareces? ],"Semanalmente: [De las que apareces, ¿Cuántas llevan algún filtro?]",Semanalmente: [¿Cuántas veces repites una foto o historia en la que apareces porque no te gusta como sales en ella?],Semanalmente: [¿Cuántas veces desistes de subir contenido en el que apareces porque no te gusta como sales?]
0,0,Si,28,Menos de una hora diaria,Entre siete y nueve veces al día,Entre cuatro y seis veces al día,Entre 15 y 30 minutos,Menos de 1,Menos de 1,NaN,Entre 4 y 6,Entre 1 y 3,NaN,Entre 1 y 3,Entre 4 y 6
1,1,Si,we,Entre una y tres horas,Entre cuatro y seis veces al día,Entre siete y nueve veces al día,Menos de 15 minutos,Entre 1 y 3,Entre 1 y 3,NaN,Entre 1 y 3,Entre 1 y 3,NaN,Entre 1 y 3,Entre 1 y 3
2,2,Si,18,Menos de una hora diaria,Entre siete y nueve veces al día,Entre cuatro y seis veces al día,Menos de 15 minutos,Menos de 1,Menos de 1,NaN,Menos de 1,Menos de 1,NaN,Entre 4 y 6,Entre 4 y 6
3,3,Si,20,Entre una y tres horas,Entre cuatro y seis veces al día,Entre cuatro y seis veces al día,Más de 30 minutos,Menos de 1,Menos de 1,NaN,Entre 1 y 3,Menos de 1,NaN,Entre 4 y 6,Entre 4 y 6
4,4,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [409]:
instagram.columns

Index(['Id', '¿Tienes Instagram?',
       '¿A qué edad te hiciste el perfil en Instagram?',
       '¿Cuántas horas al día crees que pasas en la aplicación? ',
       '¿Cuántas veces al día dirías que entras a la aplicación por aburrimiento?',
       '¿Cuántas veces al día estas mirando el teléfono por alguna otra razón y terminas entrando en Instagram?',
       '¿Cada vez que entras a Instagram, cuánto tiempo dirías en promedio que permaneces en la aplicación?',
       'Semanalmente: [¿Cuántas fotografías subes?]',
       'Semanalmente: [¿En cuántas de ellas apareces?]',
       'Semanalmente: [De las que apareces, ¿Cuántas llevan algún filtro? ]',
       'Semanalmente: [¿Cuántas historias subes?]',
       'Semanalmente: [¿En cuántas de ellas apareces? ]',
       'Semanalmente: [De las que apareces, ¿Cuántas llevan algún filtro?]',
       'Semanalmente: [¿Cuántas veces repites una foto o historia en la que apareces porque no te gusta como sales en ella?]',
       'Semanalmente: [¿Cuántas veces desistes de subir contenido en el que apareces porque no te gusta como sales?]'],
      dtype='object')

## EDA and Data Cleaning

In [410]:
instagram.rename(columns={'¿Tienes Instagram?':'instagram',
                          '¿A qué edad te hiciste el perfil en Instagram?':'edad_instagram',
                          '¿Cuántas horas al día crees que pasas en la aplicación? ':'tiempo_declarado_ig',
                          '¿Cuántas veces al día dirías que entras a la aplicación por aburrimiento?':'aburrimiento',
                          '¿Cuántas veces al día estas mirando el teléfono por alguna otra razón y terminas entrando en Instagram?':'inercia',
                          '¿Cada vez que entras a Instagram, cuánto tiempo dirías en promedio que permaneces en la aplicación?':'tiempo_promedio_ig',
                          'Semanalmente: [¿Cuántas fotografías subes?]': 'fotos_subidas',
                          'Semanalmente: [¿En cuántas de ellas apareces?]':'fotos_propias',
                          'Semanalmente: [De las que apareces, ¿Cuántas llevan algún filtro? ]':'fotos_propias_filtro',
                          'Semanalmente: [¿Cuántas historias subes?]':'historias_subidas',
                          'Semanalmente: [¿En cuántas de ellas apareces? ]':'historias_propias',
                          'Semanalmente: [De las que apareces, ¿Cuántas llevan algún filtro?]':'historias_propias_filtro',
                          'Semanalmente: [¿Cuántas veces repites una foto o historia en la que apareces porque no te gusta como sales en ella?]':'repeticion',
                          'Semanalmente: [¿Cuántas veces desistes de subir contenido en el que apareces porque no te gusta como sales?]':'desistidas'
     }, inplace=True)

In [411]:
instagram.instagram.value_counts()

Si    421
No     12
Name: instagram, dtype: int64

In [412]:
instagram = instagram[instagram.instagram == 'Si']

In [413]:
instagram.edad_instagram.unique()

array(['28', 'we', '18', '20', '38', 'No recuerdo, sobre los 13', '24',
       '26', '23', '27', '13', '22', '30', '14', '32', '33', '14 años.',
       '17', '25', '12 ', '35', '19 años', '39', '34',
       '30 y pico cuando salio', '16', '36', '29', '46', '13-14', '21',
       '15', '19', '14 ', '40', '12', '49', '60', '14 años', '24 ',
       '15 / 16', '16/17', '16-17', '9/10 años.', '37', 'once', '17-18',
       'No me acuerdo', '12 o 13', '18 aproximadamente', 'Con 33',
       '11 años', '9', 'A los 14', 'a los 10/11', '2013', nan,
       'Tenía 13 años.', 'No tengo la edad en Instagram', '10/11',
       '11/12', '11', '2015', '10', '51',
       'No recuerdo. A los 27 quizás. ', '10 años', 'A los doce creo',
       '24/25 no recuerdo bien ', '31', '15 años ', '25?', '50', '45',
       '42', '22 años', 'Alrededor de los 28-29', '44', '16 aprox',
       'No lo recuerdo', '14-15', '52', '15 creo ', '26 años quizás',
       '17 mas o menos', '65', '13 aprox', '22/23 años', '43', '30 +/-',
       '46 años ', 'No recuerdo ', '32 años'], dtype=object)

In [414]:
replace_map_edad_ig = {'No recuerdo, sobre los 13':13,
                      '14 años.':14,'19 años':19,'30 y pico cuando salio':30,
                      '13-14':13,'14 años':14,'24 ':24,'15 / 16':15,
                      '16/17':16,'16-17':16,'9/10 años.':9,'once':11,
                      '17-18':17,'12 o 13':12,'18 aproximadamente':18,
                      'Con 33':33,'11 años':11,'A los 14':14,'a los 10/11':10,
                      'Tenía 13 años.':13,'10/11':10,'11/12':11,
                      'No recuerdo. A los 27 quizás. ':27,'10 años':10,
                      'A los doce creo':12,'24/25 no recuerdo bien ':24,
                      '15 años ':15,'25?':25,'26 años quizás':26,
                      '17 mas o menos':17,'13 aprox':13,'22/23 años':22,
                      '30 +/-':30,'46 años ':46,'32 años':32,'16 aprox':16,
                      '14 ':14,'22 años':22,'Alrededor de los 28-29':28,
                      '14-15':14,'15 creo ':15}

In [415]:
instagram.edad_instagram.replace(replace_map_edad_ig,inplace=True)

In [416]:
instagram.edad_instagram.unique()

array(['28', 'we', '18', '20', '38', 13, '24', '26', '23', '27', '13',
       '22', '30', '14', '32', '33', 14, '17', '25', '12 ', '35', 19,
       '39', '34', 30, '16', '36', '29', '46', '21', '15', '19', '40',
       '12', '49', '60', 24, 15, 16, 9, '37', 11, 17, 'No me acuerdo', 12,
       18, 33, '9', 10, '2013', nan, 'No tengo la edad en Instagram',
       '11', '2015', '10', '51', 27, '31', 25, '50', '45', '42', 22, 28,
       '44', 'No lo recuerdo', '52', 26, '65', '43', 46, 'No recuerdo ',
       32], dtype=object)

### a) Check missing values:

In [417]:
to_drop =instagram[(instagram.edad_instagram=='we')|(instagram.edad_instagram=='No me acuerdo')
                  |(instagram.edad_instagram=='2013')|(instagram.edad_instagram=='No tengo la edad en Instagram')
                  |(instagram.edad_instagram=='nan')|(instagram.edad_instagram=='2015')
                  |(instagram.edad_instagram=='No lo recuerdo')|(instagram.edad_instagram=='No recuerdo ')]
to_drop

,Id,instagram,edad_instagram,tiempo_declarado_ig,aburrimiento,inercia,tiempo_promedio_ig,fotos_subidas,fotos_propias,fotos_propias_filtro,historias_subidas,historias_propias,historias_propias_filtro,repeticion,desistidas
1,1,Si,we,Entre una y tres horas,Entre cuatro y seis veces al día,Entre siete y nueve veces al día,Menos de 15 minutos,Entre 1 y 3,Entre 1 y 3,NaN,Entre 1 y 3,Entre 1 y 3,NaN,Entre 1 y 3,Entre 1 y 3
136,136,Si,No me acuerdo,Menos de una hora diaria,Hasta tres veces al día,Hasta tres veces al día,Menos de 15 minutos,Menos de 1,Menos de 1,Menos de 1,Menos de 1,Menos de 1,Menos de 1,Menos de 1,Menos de 1
175,175,Si,2013,Entre una y tres horas,Entre cuatro y seis veces al día,Entre cuatro y seis veces al día,Entre 15 y 30 minutos,Menos de 1,Menos de 1,Menos de 1,Entre 6 y 9,Menos de 1,Menos de 1,Entre 4 y 6,Menos de 1
184,184,Si,No tengo la edad en Instagram,Entre una y tres horas,Diez o más veces al día,Diez o más veces al día,Menos de 15 minutos,Menos de 1,Entre 1 y 3,Menos de 1,Entre 1 y 3,Menos de 1,Menos de 1,Entre 1 y 3,Entre 1 y 3
199,199,Si,2015,Entre una y tres horas,Diez o más veces al día,Entre cuatro y seis veces al día,Menos de 15 minutos,Menos de 1,Menos de 1,Entre 6 y 9,Entre 1 y 3,Entre 1 y 3,Entre 1 y 3,Más de 10,Más de 10
281,281,Si,2013,Más de tres horas diarias,Entre siete y nueve veces al día,Entre siete y nueve veces al día,Menos de 15 minutos,Menos de 1,Menos de 1,Menos de 1,Entre 6 y 9,Entre 1 y 3,Entre 1 y 3,Entre 6 y 9,Entre 4 y 6
335,335,Si,No lo recuerdo,Entre una y tres horas,Diez o más veces al día,Diez o más veces al día,Menos de 15 minutos,Entre 1 y 3,Entre 1 y 3,Entre 1 y 3,Entre 4 y 6,Menos de 1,Menos de 1,Entre 1 y 3,Más de 10
427,427,Si,No recuerdo,Entre una y tres horas,Hasta tres veces al día,Entre cuatro y seis veces al día,Más de 30 minutos,Menos de 1,Menos de 1,Menos de 1,Menos de 1,Menos de 1,Menos de 1,Menos de 1,Menos de 1

In [418]:
instagram = instagram.drop(instagram.Id[1])
instagram = instagram.drop(instagram.Id[136])
instagram = instagram.drop(instagram.Id[184])
instagram = instagram.drop(instagram.Id[335])
instagram = instagram.drop(instagram.Id[427])

In [419]:
to_check = instagram[(instagram.Id==175)|(instagram.Id==199)|(instagram.Id==281)]
to_check

,Id,instagram,edad_instagram,tiempo_declarado_ig,aburrimiento,inercia,tiempo_promedio_ig,fotos_subidas,fotos_propias,fotos_propias_filtro,historias_subidas,historias_propias,historias_propias_filtro,repeticion,desistidas
175,175,Si,2013,Entre una y tres horas,Entre cuatro y seis veces al día,Entre cuatro y seis veces al día,Entre 15 y 30 minutos,Menos de 1,Menos de 1,Menos de 1,Entre 6 y 9,Menos de 1,Menos de 1,Entre 4 y 6,Menos de 1
199,199,Si,2015,Entre una y tres horas,Diez o más veces al día,Entre cuatro y seis veces al día,Menos de 15 minutos,Menos de 1,Menos de 1,Entre 6 y 9,Entre 1 y 3,Entre 1 y 3,Entre 1 y 3,Más de 10,Más de 10
281,281,Si,2013,Más de tres horas diarias,Entre siete y nueve veces al día,Entre siete y nueve veces al día,Menos de 15 minutos,Menos de 1,Menos de 1,Menos de 1,Entre 6 y 9,Entre 1 y 3,Entre 1 y 3,Entre 6 y 9,Entre 4 y 6

In [420]:
instagram.loc[175,'edad_instagram']=18
instagram.loc[199,'edad_instagram']=12
instagram.loc[281,'edad_instagram']=21

In [421]:
instagram.edad_instagram.value_counts()

13    23
17    23
16    21
18    21
14    20
      ..
46     1
52     1
51     1
9      1
65     1
Name: edad_instagram, Length: 66, dtype: int64

In [422]:
instagram.isnull().sum()

Id                           0
instagram                    0
edad_instagram               7
tiempo_declarado_ig          1
aburrimiento                 3
inercia                      5
tiempo_promedio_ig           1
fotos_subidas                2
fotos_propias                8
fotos_propias_filtro        26
historias_subidas            3
historias_propias            3
historias_propias_filtro    24
repeticion                   7
desistidas                   4
dtype: int64

In [423]:
instagram=instagram.dropna()

### b) Dealing with categorical variables, transforming into numerilcal

In [424]:
instagram.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 369 entries, 20 to 433
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        369 non-null    int64
 1   instagram                 369 non-null    object
 2   edad_instagram            369 non-null    object
 3   tiempo_declarado_ig       369 non-null    object
 4   aburrimiento              369 non-null    object
 5   inercia                   369 non-null    object
 6   tiempo_promedio_ig        369 non-null    object
 7   fotos_subidas             369 non-null    object
 8   fotos_propias             369 non-null    object
 9   fotos_propias_filtro      369 non-null    object
 10  historias_subidas         369 non-null    object
 11  historias_propias         369 non-null    object
 12  historias_propias_filtro  369 non-null    object
 13  repeticion                369 non-null    object
 14  desistidas                369 non-null    object
dtypes: int64(1), object(14)
memory usage: 46.1+ KB

- edad

In [425]:
instagram.edad_instagram = instagram.edad_instagram.astype('float')

- tiempo declarado; se asument valores medios de los rangos de las preguntas, tiempo medido en minutos

In [426]:
instagram.tiempo_declarado_ig.unique()

array(['Entre una y tres horas', 'Más de tres horas diarias',
       'Menos de una hora diaria'], dtype=object)

In [427]:
instagram.loc[instagram.tiempo_declarado_ig=='Menos de una hora diaria','tiempo_declarado_ig']=60

In [428]:
instagram.loc[instagram.tiempo_declarado_ig=='Entre una y tres horas','tiempo_declarado_ig']=120

In [429]:
instagram.loc[instagram.tiempo_declarado_ig=='Más de tres horas diarias','tiempo_declarado_ig']=180

In [430]:
instagram.tiempo_declarado_ig = instagram.tiempo_declarado_ig.astype('float')

- aburrimiento, se asume el valor medio para el rango contenido en las posibles respuestas.

In [431]:
instagram.aburrimiento.value_counts()

Diez o más veces al día             117
Entre cuatro y seis veces al día    109
Entre siete y nueve veces al día     78
Hasta tres veces al día              65
Name: aburrimiento, dtype: int64

In [432]:
instagram.aburrimiento.unique()

array(['Entre cuatro y seis veces al día',
       'Entre siete y nueve veces al día', 'Diez o más veces al día',
       'Hasta tres veces al día'], dtype=object)

In [433]:
instagram.loc[instagram.aburrimiento=='Hasta tres veces al día','aburrimiento']=3

In [434]:
instagram.loc[instagram.aburrimiento=='Entre cuatro y seis veces al día','aburrimiento']=5

In [435]:
instagram.loc[instagram.aburrimiento=='Entre siete y nueve veces al día','aburrimiento']=8

In [436]:
instagram.loc[instagram.aburrimiento=='Diez o más veces al día','aburrimiento']=10

In [437]:
instagram.aburrimiento = instagram.aburrimiento.astype('float')

- inercia

In [438]:
instagram.inercia.value_counts()

Entre cuatro y seis veces al día    117
Hasta tres veces al día              98
Diez o más veces al día              83
Entre siete y nueve veces al día     71
Name: inercia, dtype: int64

In [439]:
instagram.inercia.unique()

array(['Hasta tres veces al día', 'Diez o más veces al día',
       'Entre cuatro y seis veces al día',
       'Entre siete y nueve veces al día'], dtype=object)

In [440]:
instagram.loc[instagram.inercia=='Hasta tres veces al día','inercia']=3

In [441]:
instagram.loc[instagram.inercia=='Entre cuatro y seis veces al día','inercia']=5

In [442]:
instagram.loc[instagram.inercia=='Entre siete y nueve veces al día','inercia']=8

In [443]:
instagram.loc[instagram.inercia=='Diez o más veces al día','inercia']=10

In [444]:
instagram.inercia = instagram.inercia.astype('float')

- tiempo promedio; se asument valores medios de los rangos de las preguntas, tiempo medido en minutos

In [445]:
instagram.tiempo_promedio_ig.value_counts()

Menos de 15 minutos      179
Entre 15 y 30 minutos    150
Más de 30 minutos         40
Name: tiempo_promedio_ig, dtype: int64

In [446]:
instagram.tiempo_promedio_ig.unique()

array(['Menos de 15 minutos', 'Entre 15 y 30 minutos',
       'Más de 30 minutos'], dtype=object)

In [447]:
instagram.loc[instagram.tiempo_promedio_ig=='Menos de 15 minutos','tiempo_promedio_ig']=15

In [448]:
instagram.loc[instagram.tiempo_promedio_ig=='Entre 15 y 30 minutos','tiempo_promedio_ig']=25

In [449]:
instagram.loc[instagram.tiempo_promedio_ig=='Más de 30 minutos','tiempo_promedio_ig']=35

In [450]:
instagram.tiempo_promedio_ig = instagram.tiempo_promedio_ig.astype('float')

- fotos subidas

In [451]:
instagram.fotos_subidas.value_counts()

Menos de 1     312
Entre 1 y 3     48
Entre 4 y 6      7
Más de 10        2
Name: fotos_subidas, dtype: int64

In [452]:
instagram.loc[instagram.fotos_subidas=='Menos de 1','fotos_subidas']=1
instagram.loc[instagram.fotos_subidas=='Entre 1 y 3','fotos_subidas']=2
instagram.loc[instagram.fotos_subidas=='Entre 4 y 6','fotos_subidas']=5
instagram.loc[instagram.fotos_subidas=='Entre 6 y 9','fotos_subidas']=8
instagram.loc[instagram.fotos_subidas=='Más de 10','fotos_subidas']=10

- fotos propias

In [453]:
instagram.fotos_propias.value_counts()

Menos de 1     273
Entre 1 y 3     60
Más de 10       24
Entre 6 y 9      8
Entre 4 y 6      4
Name: fotos_propias, dtype: int64

In [454]:
instagram.loc[instagram.fotos_propias=='Menos de 1','fotos_propias']=1
instagram.loc[instagram.fotos_propias=='Entre 1 y 3','fotos_propias']=2
instagram.loc[instagram.fotos_propias=='Entre 4 y 6','fotos_propias']=5
instagram.loc[instagram.fotos_propias=='Entre 6 y 9','fotos_propias']=8
instagram.loc[instagram.fotos_propias=='Más de 10','fotos_propias']=10

- fotos propias filtro

In [455]:
instagram.fotos_propias_filtro.value_counts()

Menos de 1     257
Entre 1 y 3     63
Más de 10       25
Entre 6 y 9     12
Entre 4 y 6     12
Name: fotos_propias_filtro, dtype: int64

In [456]:
instagram.loc[instagram.fotos_propias_filtro=='Menos de 1','fotos_propias_filtro']=1
instagram.loc[instagram.fotos_propias_filtro=='Entre 1 y 3','fotos_propias_filtro']=2
instagram.loc[instagram.fotos_propias_filtro=='Entre 4 y 6','fotos_propias_filtro']=5
instagram.loc[instagram.fotos_propias_filtro=='Entre 6 y 9','fotos_propias_filtro']=8
instagram.loc[instagram.fotos_propias_filtro=='Más de 10','fotos_propias_filtro']=10

- historias subidas

In [457]:
instagram.historias_subidas.value_counts()

Menos de 1     118
Entre 1 y 3    112
Entre 4 y 6     61
Más de 10       43
Entre 6 y 9     35
Name: historias_subidas, dtype: int64

In [458]:
instagram.loc[instagram.historias_subidas=='Menos de 1','historias_subidas']=1
instagram.loc[instagram.historias_subidas=='Entre 1 y 3','historias_subidas']=2
instagram.loc[instagram.historias_subidas=='Entre 4 y 6','historias_subidas']=5
instagram.loc[instagram.historias_subidas=='Entre 6 y 9','historias_subidas']=8
instagram.loc[instagram.historias_subidas=='Más de 10','historias_subidas']=10

- historias propias

In [459]:
instagram.historias_propias.value_counts()

Menos de 1     227
Entre 1 y 3    108
Entre 4 y 6     23
Más de 10        7
Entre 6 y 9      4
Name: historias_propias, dtype: int64

In [460]:
instagram.loc[instagram.historias_propias=='Menos de 1','historias_propias']=1
instagram.loc[instagram.historias_propias=='Entre 1 y 3','historias_propias']=2
instagram.loc[instagram.historias_propias=='Entre 4 y 6','historias_propias']=5
instagram.loc[instagram.historias_propias=='Entre 6 y 9','historias_propias']=8
instagram.loc[instagram.historias_propias=='Más de 10','historias_propias']=10

- historias propias filtro

In [461]:
instagram.historias_propias_filtro.value_counts()

Menos de 1     215
Entre 1 y 3     96
Entre 4 y 6     23
Más de 10       23
Entre 6 y 9     12
Name: historias_propias_filtro, dtype: int64

In [462]:
instagram.loc[instagram.historias_propias_filtro=='Menos de 1','historias_propias_filtro']=1
instagram.loc[instagram.historias_propias_filtro=='Entre 1 y 3','historias_propias_filtro']=2
instagram.loc[instagram.historias_propias_filtro=='Entre 4 y 6','historias_propias_filtro']=5
instagram.loc[instagram.historias_propias_filtro=='Entre 6 y 9','historias_propias_filtro']=8
instagram.loc[instagram.historias_propias_filtro=='Más de 10','historias_propias_filtro']=10

- Repeticion

In [463]:
instagram.repeticion.value_counts()

Menos de 1     144
Entre 1 y 3     89
Entre 4 y 6     58
Más de 10       46
Entre 6 y 9     32
Name: repeticion, dtype: int64

In [464]:
instagram.loc[instagram.repeticion=='Menos de 1','repeticion']=1
instagram.loc[instagram.repeticion=='Entre 1 y 3','repeticion']=2
instagram.loc[instagram.repeticion=='Entre 4 y 6','repeticion']=5
instagram.loc[instagram.repeticion=='Entre 6 y 9','repeticion']=8
instagram.loc[instagram.repeticion=='Más de 10','repeticion']=10

- Desistidas

In [465]:
instagram.desistidas.unique()

array(['Entre 4 y 6', 'Más de 10', 'Entre 6 y 9', 'Menos de 1',
       'Entre 1 y 3'], dtype=object)

In [466]:
instagram.loc[instagram.desistidas=='Menos de 1','desistidas']=1
instagram.loc[instagram.desistidas=='Entre 1 y 3','desistidas']=2
instagram.loc[instagram.desistidas=='Entre 4 y 6','desistidas']=5
instagram.loc[instagram.desistidas=='Entre 6 y 9','desistidas']=8
instagram.loc[instagram.desistidas=='Más de 10','desistidas']=10

### d) Drop duplicates

In [467]:
instagram.duplicated().sum()

0

### b) Feature adition

In [468]:
#sumar aburrimiento+inercia = entradas_ig

In [469]:
instagram['entradas_ig']=instagram[['inercia','aburrimiento']].sum(axis=1)

In [470]:
#multiplicar entradas_ig con tiempo_promedio = tiempo_estimado

In [471]:
instagram['tiempo_estimado_ig'] = instagram['entradas_ig']*instagram['tiempo_promedio_ig']

In [472]:
instagram

,Id,instagram,edad_instagram,tiempo_declarado_ig,aburrimiento,inercia,tiempo_promedio_ig,fotos_subidas,fotos_propias,fotos_propias_filtro,historias_subidas,historias_propias,historias_propias_filtro,repeticion,desistidas,entradas_ig,tiempo_estimado_ig
20,20,Si,14.0,120.0,5.0,3.0,15.0,1,1,1,1,1,1,1,5,8.0,120.0
21,21,Si,17.0,180.0,8.0,10.0,25.0,1,1,1,1,1,1,1,10,18.0,450.0
22,22,Si,18.0,120.0,8.0,5.0,15.0,1,10,10,5,2,10,10,10,13.0,195.0
23,23,Si,26.0,60.0,10.0,10.0,15.0,1,8,8,1,5,1,1,8,20.0,300.0
24,24,Si,25.0,60.0,3.0,3.0,15.0,1,1,1,1,1,1,1,1,6.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
428,428,Si,20.0,120.0,10.0,10.0,25.0,1,1,1,1,1,1,8,10,20.0,500.0
429,429,Si,32.0,120.0,3.0,3.0,25.0,1,1,1,2,1,1,1,1,6.0,150.0
430,430,Si,20.0,120.0,5.0,5.0,35.0,1,1,1,10,2,1,1,10,10.0,350.0
431,431,Si,26.0,120.0,8.0,5.0,15.0,1,1,1,1,1,1,1,1,13.0,195.0
433,433,Si,42.0,60.0,3.0,3.0,25.0,1,2,2,1,1,1,5,5,6.0,150.0

In [473]:
instagram = instagram.drop(['instagram'],axis=1)

## Save the data clean

In [475]:
#instagram.to_csv('instagram.csv')

# Tik Tok

## EDA and Data Cleaning

In [514]:
tiktok.columns

Index(['Id', '¿Tienes Tik-Tok?',
       '¿A qué edad te hiciste el perfil en Tik-Tok?',
       '¿Cuántas horas al día crees que pasas en Tik-Tok? ',
       '¿Cuántas veces al día dirías que entras por aburrimiento?',
       '¿Cuántas veces al día estas mirando el teléfono por alguna otra razón y terminas entrando a Tik-Tok?',
       '¿Cada vez que entras a Tik-Tok, cuánto tiempo dirías en promedio que en la aplicación?',
       'Semanalmente... [¿Cuántos videos en los que apareces subes?]',
       'Semanalmente... [¿Cuántos de ellos llevan filtros?]',
       'Semanalmente... [¿Cuántas veces repites un video en el que apareces porque no te gusta como sales en ella?]',
       'Semanalmente... [¿Cuántas veces desistes de subir contenido en el que apareces porque no te gusta como sales?]'],
      dtype='object')

In [515]:
tiktok.rename(columns={'¿Tienes Tik-Tok?':'tiktok',
    '¿A qué edad te hiciste el perfil en Tik-Tok?':'edad_tiktok',
    '¿Cuántas horas al día crees que pasas en Tik-Tok? ':'tiempo_declarado_tt',
    '¿Cuántas veces al día dirías que entras por aburrimiento?':'aburrimiento',
    '¿Cuántas veces al día estas mirando el teléfono por alguna otra razón y terminas entrando a Tik-Tok?':'inercia',
    '¿Cada vez que entras a Tik-Tok, cuánto tiempo dirías en promedio que en la aplicación?':'tiempo_promedio_tt',
    'Semanalmente... [¿Cuántos videos en los que apareces subes?]':'videos_propios',
    'Semanalmente... [¿Cuántos de ellos llevan filtros?]': 'videos_propios_filtros',
    'Semanalmente... [¿Cuántas veces repites un video en el que apareces porque no te gusta como sales en ella?]':'repeticion',
    'Semanalmente... [¿Cuántas veces desistes de subir contenido en el que apareces porque no te gusta como sales?]':'desistidas',
                          }, inplace=True)

In [516]:
tiktok.tiktok.value_counts()

No    309
Sí    124
Name: tiktok, dtype: int64

In [517]:
tiktok = tiktok[tiktok.tiktok == 'Sí']

In [519]:
tiktok.edad_tiktok.unique()

array(['29', '23', '21', nan, '22', '37', '24', '18', '43', '33', '16-17',
       '17', '19', 'No me acuerdo', '20', '15', '31', '12 años.', '41',
       '32', '25', '10', '12', '14', 'catorce', '48', '46', '13', '11',
       'en el 2017 cuando era musicaly, y ahora el año pasado, no se bien las edades',
       '27', '17 años.', '13/14', '10/11', '20 años', '34', 'A los 10',
       '16', '30', '26', '35', '22 años ', '27 xD ', '38', '28', '44',
       '0'], dtype=object)

In [520]:
replace_map_edad_tt = {'16-17':16,'12 años.':12,'catorce':14,'17 años.':17,
                      '13/14':13,'10/11':10,'20 años':20,'A los 10':10,
                       '22 años ':22,'27 xD ':27}

In [521]:
tiktok.edad_tiktok.replace(replace_map_edad_tt,inplace=True)

In [530]:
tiktok.edad_tiktok.unique()

array(['29', '23', '21', nan, '22', '37', '24', '18', '43', '33', 16,
       '17', '19', '20', '15', '31', 12, '41', '32', '25', '10', '12',
       '14', 14, '48', '46', '13', '11', '27', 17, 13, 10, 20, '34', '16',
       '30', '26', '35', 22, 27, '38', '28', '44', '0'], dtype=object)

In [524]:
to_drop = tiktok[tiktok.edad_tiktok=='No me acuerdo']
to_drop

,Id,tiktok,edad_tiktok,tiempo_declarado_tt,aburrimiento,inercia,tiempo_promedio_tt,videos_propios,videos_propios_filtros,repeticion,desistidas
64,64,Sí,No me acuerdo,Menos de una hora diaria,Hasta tres veces al día,Hasta tres veces al día,Menos de 15 minutos,Menos de 1,Menos de 1,Menos de 1,Menos de 1

In [525]:
tiktok = tiktok.drop(tiktok.Id[64])

In [529]:
to_check =tiktok[tiktok.edad_tiktok=='en el 2017 cuando era musicaly, y ahora el año pasado, no se bien las edades']
to_check

Empty DataFrame
Columns: [Id, tiktok, edad_tiktok, tiempo_declarado_tt, aburrimiento, inercia, tiempo_promedio_tt, videos_propios, videos_propios_filtros, repeticion, desistidas]
Index: []

In [528]:
tiktok.loc[171,'edad_tiktok']=12

In [547]:
tiktok.edad_tiktok = tiktok.edad_tiktok.astype('float')

### a) Check missing values:

In [531]:
percentage_nullValues(tiktok)

                        Percentage_NaN
videos_propios_filtros            18.7
repeticion                        14.6
desistidas                        12.2
aburrimiento                       9.8
inercia                            9.8
videos_propios                     8.9
edad_tiktok                        1.6
tiempo_declarado_tt                1.6
tiempo_promedio_tt                 1.6
Id                                 0.0
tiktok                             0.0

In [533]:
tiktok = tiktok.dropna()

### b) Dealing with categorical variables

In [539]:
tiktok.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94 entries, 22 to 420
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Id                      94 non-null     int64
 1   tiktok                  94 non-null     object
 2   edad_tiktok             94 non-null     object
 3   tiempo_declarado_tt     94 non-null     float64
 4   aburrimiento            94 non-null     object
 5   inercia                 94 non-null     object
 6   tiempo_promedio_tt      94 non-null     object
 7   videos_propios          94 non-null     object
 8   videos_propios_filtros  94 non-null     object
 9   repeticion              94 non-null     object
 10  desistidas              94 non-null     object
dtypes: float64(1), int64(1), object(9)
memory usage: 10.9+ KB

- tiempo declarado

In [534]:
tiktok.tiempo_declarado_tt.unique()

array(['Más de tres horas diarias', 'Entre una y tres horas',
       'Menos de una hora diaria'], dtype=object)

In [535]:
tiktok.loc[tiktok.tiempo_declarado_tt=='Menos de una hora diaria','tiempo_declarado_tt']=60

In [536]:
tiktok.loc[tiktok.tiempo_declarado_tt=='Entre una y tres horas','tiempo_declarado_tt']=120

In [537]:
tiktok.loc[tiktok.tiempo_declarado_tt=='Más de tres horas diarias','tiempo_declarado_tt']=180

In [538]:
tiktok.tiempo_declarado_tt = tiktok.tiempo_declarado_tt.astype('float')

- aburrimiento, se asume el valor medio para el rango contenido en las posibles respuestas.

In [540]:
tiktok.aburrimiento.value_counts()

Hasta tres veces al día             62
Entre cuatro y seis veces al día    15
Diez o más veces al día             10
Entre siete y nueve veces al día     7
Name: aburrimiento, dtype: int64

In [541]:
tiktok.aburrimiento.unique()

array(['Diez o más veces al día', 'Hasta tres veces al día',
       'Entre cuatro y seis veces al día',
       'Entre siete y nueve veces al día'], dtype=object)

In [542]:
tiktok.loc[tiktok.aburrimiento=='Hasta tres veces al día','aburrimiento']=3

In [543]:
tiktok.loc[tiktok.aburrimiento=='Entre cuatro y seis veces al día','aburrimiento']=5

In [544]:
tiktok.loc[tiktok.aburrimiento=='Entre siete y nueve veces al día','aburrimiento']=8

In [545]:
tiktok.loc[tiktok.aburrimiento=='Diez o más veces al día','aburrimiento']=10

In [546]:
tiktok.aburrimiento = tiktok.aburrimiento.astype('float')

- inercia

In [548]:
tiktok.inercia.value_counts()

Hasta tres veces al día             67
Entre cuatro y seis veces al día    11
Entre siete y nueve veces al día     8
Diez o más veces al día              8
Name: inercia, dtype: int64

In [549]:
tiktok.inercia.unique()

array(['Diez o más veces al día', 'Hasta tres veces al día',
       'Entre cuatro y seis veces al día',
       'Entre siete y nueve veces al día'], dtype=object)

In [550]:
tiktok.loc[tiktok.inercia=='Hasta tres veces al día','inercia']=3

In [551]:
tiktok.loc[tiktok.inercia=='Entre cuatro y seis veces al día','inercia']=5

In [552]:
tiktok.loc[tiktok.inercia=='Entre siete y nueve veces al día','inercia']=8

In [553]:
tiktok.loc[tiktok.inercia=='Diez o más veces al día','inercia']=10

In [554]:
tiktok.inercia = tiktok.inercia.astype('float')

- tiempo promedio; se asument valores medios de los rangos de las preguntas, tiempo medido en minutos

In [555]:
tiktok.tiempo_promedio_tt.value_counts()

Menos de 15 minutos      36
Entre 15 y 30 minutos    29
Más de 30 minutos        29
Name: tiempo_promedio_tt, dtype: int64

In [556]:
tiktok.tiempo_promedio_tt.unique()

array(['Entre 15 y 30 minutos', 'Más de 30 minutos',
       'Menos de 15 minutos'], dtype=object)

In [557]:
tiktok.loc[tiktok.tiempo_promedio_tt=='Menos de 15 minutos','tiempo_promedio_tt']=15

In [558]:
tiktok.loc[tiktok.tiempo_promedio_tt=='Entre 15 y 30 minutos','tiempo_promedio_tt']=25

In [559]:
tiktok.loc[tiktok.tiempo_promedio_tt=='Más de 30 minutos','tiempo_promedio_tt']=35

In [560]:
tiktok.tiempo_promedio_tt = tiktok.tiempo_promedio_tt.astype('float')

- fotos propias

In [562]:
tiktok.videos_propios.value_counts()

Menos de 1     85
Entre 1 y 3     7
Más de 10       1
Entre 4 y 6     1
Name: videos_propios, dtype: int64

In [563]:
tiktok.loc[tiktok.videos_propios=='Menos de 1','videos_propios']=1
tiktok.loc[tiktok.videos_propios=='Entre 1 y 3','videos_propios']=2
tiktok.loc[tiktok.videos_propios=='Entre 4 y 6','videos_propios']=5
tiktok.loc[tiktok.videos_propios=='Entre 6 y 9','videos_propios']=8
tiktok.loc[tiktok.videos_propios=='Más de 10','videos_propios']=10

- fotos propias filtro

In [564]:
tiktok.videos_propios_filtros.value_counts()

Menos de 1     83
Entre 1 y 3     7
Más de 10       3
Entre 4 y 6     1
Name: videos_propios_filtros, dtype: int64

In [565]:
tiktok.loc[tiktok.videos_propios_filtros=='Menos de 1','videos_propios_filtros']=1
tiktok.loc[tiktok.videos_propios_filtros=='Entre 1 y 3','videos_propios_filtros']=2
tiktok.loc[tiktok.videos_propios_filtros=='Entre 4 y 6','videos_propios_filtros']=5
tiktok.loc[tiktok.videos_propios_filtros=='Entre 6 y 9','videos_propios_filtros']=8
tiktok.loc[tiktok.videos_propios_filtros=='Más de 10','videos_propios_filtros']=10

- Repeticion

In [567]:
tiktok.repeticion.value_counts()

Menos de 1     78
Entre 1 y 3     7
Más de 10       4
Entre 4 y 6     4
Entre 6 y 9     1
Name: repeticion, dtype: int64

In [568]:
tiktok.loc[tiktok.repeticion=='Menos de 1','repeticion']=1
tiktok.loc[tiktok.repeticion=='Entre 1 y 3','repeticion']=2
tiktok.loc[tiktok.repeticion=='Entre 4 y 6','repeticion']=5
tiktok.loc[tiktok.repeticion=='Entre 6 y 9','repeticion']=8
tiktok.loc[tiktok.repeticion=='Más de 10','repeticion']=10

- Desistidas

In [569]:
tiktok.desistidas.unique()

array(['Menos de 1', 'Entre 4 y 6', 'Más de 10', 'Entre 6 y 9',
       'Entre 1 y 3'], dtype=object)

In [570]:
tiktok.loc[tiktok.desistidas=='Menos de 1','desistidas']=1
tiktok.loc[tiktok.desistidas=='Entre 1 y 3','desistidas']=2
tiktok.loc[tiktok.desistidas=='Entre 4 y 6','desistidas']=5
tiktok.loc[tiktok.desistidas=='Entre 6 y 9','desistidas']=8
tiktok.loc[tiktok.desistidas=='Más de 10','desistidas']=10

### c) Dealing with numerical variables

In [573]:
tiktok

,Id,tiktok,edad_tiktok,tiempo_declarado_tt,aburrimiento,inercia,tiempo_promedio_tt,videos_propios,videos_propios_filtros,repeticion,desistidas,entradas_tt
22,22,Sí,24.0,180.0,10.0,10.0,25.0,1,1,1,1,20.0
27,27,Sí,18.0,120.0,3.0,3.0,35.0,1,1,1,1,6.0
36,36,Sí,22.0,120.0,10.0,5.0,25.0,1,1,1,1,15.0
41,41,Sí,18.0,120.0,3.0,3.0,25.0,1,1,1,1,6.0
42,42,Sí,33.0,60.0,5.0,3.0,15.0,1,1,1,5,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,Sí,16.0,60.0,3.0,3.0,15.0,1,1,1,10,6.0
391,391,Sí,21.0,60.0,3.0,3.0,15.0,1,1,10,10,6.0
396,396,Sí,48.0,60.0,3.0,3.0,25.0,1,1,2,5,6.0
407,407,Sí,30.0,60.0,3.0,3.0,15.0,1,1,1,1,6.0
420,420,Sí,25.0,120.0,3.0,3.0,35.0,1,1,1,1,6.0

In [468]:
#sumar aburrimiento+inercia = entradas_tt

In [572]:
tiktok['entradas_tt']=tiktok[['inercia','aburrimiento']].sum(axis=1)

In [470]:
#multiplicar entradas_tt con tiempo_promedio = tiempo_estimado

In [574]:
tiktok['tiempo_estimado_tt'] = tiktok['entradas_tt']*tiktok['tiempo_promedio_tt']

In [575]:
tiktok

,Id,tiktok,edad_tiktok,tiempo_declarado_tt,aburrimiento,inercia,tiempo_promedio_tt,videos_propios,videos_propios_filtros,repeticion,desistidas,entradas_tt,tiempo_estimado_tt
22,22,Sí,24.0,180.0,10.0,10.0,25.0,1,1,1,1,20.0,500.0
27,27,Sí,18.0,120.0,3.0,3.0,35.0,1,1,1,1,6.0,210.0
36,36,Sí,22.0,120.0,10.0,5.0,25.0,1,1,1,1,15.0,375.0
41,41,Sí,18.0,120.0,3.0,3.0,25.0,1,1,1,1,6.0,150.0
42,42,Sí,33.0,60.0,5.0,3.0,15.0,1,1,1,5,8.0,120.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,390,Sí,16.0,60.0,3.0,3.0,15.0,1,1,1,10,6.0,90.0
391,391,Sí,21.0,60.0,3.0,3.0,15.0,1,1,10,10,6.0,90.0
396,396,Sí,48.0,60.0,3.0,3.0,25.0,1,1,2,5,6.0,150.0
407,407,Sí,30.0,60.0,3.0,3.0,15.0,1,1,1,1,6.0,90.0
420,420,Sí,25.0,120.0,3.0,3.0,35.0,1,1,1,1,6.0,210.0

##  Saving the data clean

In [576]:
tiktok = tiktok.drop(['tiktok'],axis=1)

In [577]:
#tiktok.to_csv('tiktok.csv')

In [ ]:
## Finalmente solo se trabajará con la informacion recopilada de instagram debido a la amplitud de la muestra